<div class="paginator">
  <div class="flexRowWrap">
    <div class="paginatorPrevArrow" [ngClass]="{'disabled':currentPage === 1}" (click)="onBackClick()"></div>
    <div *ngFor="let renderedPage of renderedPages" [ngSwitch]="renderedPage.type">
      <div class="paginatorPageNumber" *ngSwitchCase="0" [ngClass]="{'active':renderedPage.value === currentPage}"
        (click)="onPageClick(renderedPage.value)">{{renderedPage.value}}</div>
      <div class="paginatorEllipsis" *ngSwitchCase="1"></div>
    </div>
    <div class="paginatorNextArrow" [ngClass]="{'disabled':currentPage === lastPage}" (click)="onForwardClick()"></div>
  </div>
</div>
