.paginatorEllipsis {
    content: url('../../assets/ellipsis.png');
  }
  
  .paginatorPrevArrow {
    content: url('../../assets/left-arrow.png');
  }
  
  .paginatorNextArrow {
    content: url('../../assets/right-arrow.png');
  }
  
  .paginatorPageNumber {
    border: 1px solid#aaa;
  }
  
  .paginatorPageNumber.active {
    border-color: rgb(2, 36, 58);
  }
  
  .paginatorPageNumber.disabled {
    color: #aaa;
  }
  
  .paginatorPageNumber,
  .paginatorEllipsis,
  .paginatorPrevArrow,
  .paginatorNextArrow {
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: 700;
    padding-top: .2em;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 .1em;
  }

  .paginator>.flexRowWrap {
    justify-content: flex-start;
  }
  
  .paginator {
    margin: 0 auto;
    display: table;
  }