<section id="pressTextContainer">
  <div class="container">
    <!-- <h1>Press Area</h1> -->
    <h1>Access the area where you can consult our press releases and our photos in HD</h1>
    <hr />
    <h4>Please provide the information required to access Sage Capita Luxury Real Estate's press releases, including
      hi-res exclusive photos of featured properties. Once you've filled in the form please click on the Submit
      button and the links to the files will be generated for you at the bottom of the page. </h4>
  </div>
</section>
<section id="pressFormContainer">
  <div class="container">
    <form [formGroup]="mediaForm">
      <div class="flexRowWrap">
        <div>
          <input type="text" placeholder="* FIRST NAME" formControlName="first_name" required />
        </div>
        <div class="selectChevDownElement">
          <select formControlName="country" required>
            <option value="" disabled>* COUNTRY</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Spain">Spain</option>
            <option value="uk">UK</option>
            <option value="US">US</option>
          </select>
        </div>
        <div>
          <input type="text" placeholder="* EMAIL"  formControlName="email" required/>
        </div>
        <div>
          <input type="text" placeholder="* MAGAZINE"  formControlName="magazine" required/>
        </div>
        <div>
          <button class="filled">SEND</button>
        </div>
      </div>
      <div class="flexRowWrap">
        <p><label><input type="checkbox" /><small>I declare that i have read the privacy policy and agree to the use and
            processing of data</small></label></p>
        <p><small>ALL FIELDS ARE MANDATORY</small></p>
      </div>
    </form>
  </div>
</section>
<section id="pressContainer">
  <div class="container">
    <div id="pressArchiveContainer">
      <h1>Press Archive</h1>
      <div class="flexRowWrap">
        <div *ngFor="let year of allYears"><button (click)="onYearClick(year)" [ngClass]="{'active': currentYear === year}">{{year}}</button></div>
      </div>
    </div>
    <div id="headlineSearchFormContainer">
      <form [formGroup]="headlineSearchForm">
        <div class="flexRowWrap">
          <div>
            <input type="text" placeholder="SEARCH BY HEADLINE" formControlName="headline"
            (keyup)="onNewsNameKeyUp(headlineSearchForm['controls']['headline'].value)" />
          </div>
          <div>
            <button class="filled" (click)="getNewss()">SEARCH</button>
          </div>
        </div>
      </form>
    </div>
    <div id="featuredArticles">
      <div class="flexRowWrap">
        <div id="featuredArticlesHeading">
          <p><strong>FEATURED ARTICLES</strong></p>
        </div>
        <div id="featuredArticlesBtns" class="flexRowWrap">
          <div><button>ALL ARTICLES ({{allNewsCount}})</button></div>
          <div><button class="filled">VIDEO ARCHIVE</button></div>
        </div>
      </div>
    </div>
    <div id="featuredArticlesResults" class="flexRowWrap">
      <table cellspacing="0">
        <tbody>
          <tr *ngFor="let news of newss1stHalf">
            <td>
              <p><small>{{news.source | titlecase}}</small></p>
              <p><small>{{news.article_date | date: 'dd/MM/yyyy'}}</small></p>
            </td>
            <td>
              <a href="#"><img [src]="news.photo_link" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a [href]="news.article_link">{{news.title}}</a></small></p>
            </td>
          </tr>
          <!-- <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr> -->
        </tbody>
      </table>
      <table cellspacing="0">
        <tbody>
          <tr *ngFor="let news of newss2ndHalf">
            <td>
              <p><small>{{news.source | titlecase}}</small></p>
              <p><small>{{news.article_date | date: 'dd/MM/yyyy'}}</small></p>
            </td>
            <td>
              <a href="#"><img [src]="news.photo_link" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a [href]="news.article_link">{{news.title}}</a></small></p>
            </td>
          </tr>
          <!-- <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div id="featuredArticlesBottom" class="flexRowWrap">
<div></div>
<div>
  <button>TOTAL ARTICLES ({{totalMedia}})</button>
</div>
<div>
  <div class="right">
    <app-paginator [initPage]="1" [displayedPages]="perPage" [lastPage]="lastPage"
          (pageChange)="onPageClick($event)"></app-paginator>
  </div>
  <div class="clearfix"></div>
</div>
    </div>
  </div>
</section>
