<section id="pressTextContainer">
  <div class="container">
    <h1>Press Area</h1>
    <h1>Access the area where you can consult our press releases and our photos in HD</h1>
    <hr />
    <h4>Please provide the information required to access Sage Capita Luxury Real Estate's press releases, including
      hi-res exclusive photos of featured properties. Once you've filled in the form please click on the Submit
      button and the links to the files will be generated for you at the bottom of the page. </h4>
  </div>
</section>
<section id="pressFormContainer">
  <div class="container">
    <form>
      <div class="flexRowWrap">
        <div>
          <input type="text" placeholder="* FIRST NAME" />
        </div>
        <div class="selectChevDownElement">
          <select name="country">
            <option value="" disabled>* COUNTRY</option>
            <option value="italy">Italy</option>
            <option value="Spain">Spain</option>
            <option value="uk">UK</option>
            <option value="US">US</option>
          </select>
        </div>
        <div>
          <input type="text" placeholder="* EMAIL" />
        </div>
        <div>
          <input type="text" placeholder="* MAGAZINE" />
        </div>
        <div>
          <button class="filled">SEND</button>
        </div>
      </div>
      <div class="flexRowWrap">
        <p><input type="checkbox" /><small>I declare that i have read the privacy policy and agree to the use and
            processing of data</small></p>
        <p><small>ALL FIELDS ARE MANDATORY</small></p>
      </div>
    </form>
  </div>
</section>
<section id="pressContainer">
  <div class="container">
    <div id="pressArchiveContainer">
      <h1>Press Archive</h1>
      <div class="flexRowWrap">
        <div><button class="active">2019</button></div>
        <div><button>2018</button></div>
        <div><button>2017</button></div>
        <div><button>2016</button></div>
        <div><button>2015</button></div>
        <div><button>2014</button></div>
      </div>
    </div>
    <div id="headlineSearchFormContainer">
      <form>
        <div class="flexRowWrap">
          <div>
            <input type="text" placeholder="SEARCH BY HEADLINE" />
          </div>
          <div>
            <button class="filled">SEARCH</button>
          </div>
        </div>
      </form>
    </div>
    <div id="featuredArticles">
      <div class="flexRowWrap">
        <div id="featuredArticlesHeading">
          <p><strong>FEATURED ARTICLES</strong></p>
        </div>
        <div id="featuredArticlesBtns" class="flexRowWrap">
          <div><button>ALL ARTICLES (123)</button></div>
          <div><button class="filled">VIDEO ARCHIVE</button></div>
        </div>
      </div>
    </div>
    <div id="featuredArticlesResults" class="flexRowWrap">
      <table cellspacing="0">
        <tbody>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
        </tbody>
      </table>
      <table cellspacing="0">
        <tbody>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><small>Germania</small></p>
              <p><small>26/07/19</small></p>
            </td>
            <td>
              <a href="#"><img src="../../assets/media-thumbnail.png" alt="Media thumbnail"/></a>
            </td>
            <td>
              <p><small><a href="#">Villa von Dolce und Gabbana wird verkauft</a></small></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="featuredArticlesBottom" class="flexRowWrap">
<div></div>
<div>
  <button>ALL ARTICLES (233)</button>
</div>
<div>
  <div class="right">
    <app-paginator></app-paginator>
  </div>
  <div class="clearfix"></div>
</div>
    </div>
  </div>
</section>
