<section class="blockCentered">
  <div class="container">
    <h2>Password Reset</h2>
    <p *ngIf="formMessage"><small>{{formMessage}}</small></p>
    <form [formGroup]="passwordResetForm" (ngSubmit)="submit()">
      <div class="formRow">
        <input type="password" formControlName="password" placeholder="PASSWORD" required aria-required />
        <small *ngIf="passwordResetFormControls.password.touched && passwordResetFormControls.password?.errors?.required">
          Password is required.
        </small>
        <small *ngIf="passwordResetFormControls.password.touched && passwordResetFormControls.password?.errors?.minlength">
            Password must be 8 characters or more.
          </small>
      </div>
      <div class="formRow">
        <input type="password" placeholder="CONFIRM PASSWORD" formControlName="password_confirmation" required />
        <small *ngIf="passwordResetFormControls.password_confirmation.touched && passwordResetForm.hasError('notSame')">
          Passwords do not match.
        </small>
      </div>
      <div class="formRow">
        <button [disabled]="!passwordResetForm.valid || isSubmitting">SUBMIT</button>
      </div>
    </form>
  </div>
</section>
