h4 {
  margin: 1em 0;
  line-height: 1.2em;
}

p {
  margin: .1em 0;
  line-height: 1.1em;
}

/* p a {
  color: #064A77;
} */

aside {
  padding: 2em;
  text-align: center;
}

img{
  width: 4em;
}

video{
  margin-top: 1.5em;
}