<aside>
  <a href="#" [routerLink]="['/']"><img src="../../assets/logo-new.png" alt="Lionard Logo" /></a>
  <video width="100%" height="100%" poster="../../assets/home-carousel/slide_2.jpg" controls>
    <source src="https://cdn-maps.lionard.com//Allegati/LIONARD_RIF5118_720.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div>
    <h4><i>Over 16 years combined experience in Luxury Real Estate and International Investing</i></h4>
    <p><small><a href="tel:+2349029120518">+234 902 912 0518</a></small></p>
    <p><small>6<sup>th</sup> Floor, NICON Plaza, CBD, Abuja</small></p>
    <p><small><a href="mailto:info@sagecapita.com">info@sagecapita.com</a></small></p>
  </div>
</aside>
