#searchBand {
  background: #064A77;
  padding: .5em 2em .9em 2em;
}

.searchSectionFormContainerElement>select {
  height: 2.5em;
  border-color: #ccc;
  margin-right: .5em;
  color: rgb(4, 37, 59);
  background-color: #fff;
  width: 100%;
  margin-bottom: .6em;
}

#searchSection {
  padding: 2em 2em 0 2em;
}

#searchSection h1 {
  margin: 0;
}

#searchResults {
  padding: 0 2em 3em 2em;
}

#searchResults>.container {
  display: block;
}

#searchSection p {
  color: #aaa;
}

#searchSection h2 {
  text-align: center;
}

.searchResultsBody {
  background: #064A77;
  padding: .8em;
}

.searchResultsBody p {
  margin: 0 .8em 0 0;
  color: #fff;
}

.searchResultsBodyTopText img {
  height: 24px;
}

.searchResultsBody .left {
  float: left;
}

.searchResultsBody .right {
  float: right;
}

.searchResultsBody button {
  height: 2.5em;
  color: #fff;
  margin: .5em 0 0 0;
}

.searchResultsBody button:hover,
.searchResultsBody button.filled {
  background: #fff;
  color: #064A77;
}

.searchResultsBody button.filled:hover {
  color: #fff;
  background: #064A77;
}

.searchResultsImgContainer {
  overflow: hidden;
  height: 17em;
}

.searchResultsBody3btn>button.searchResultsBody2btn>button,
#searchResultsContainer>article,
.searchSectionFormContainerElement {
  width: 100%;
}

.searchResultsImgContainer>img {
  height: 100%;
}

#searchResultsContainer>article {
  margin-top: 1em;
}

@media (min-width:641px) {
  .searchResultsImgContainer>img {
    width: 100%;
    height: auto;
  }
}

@media (min-width:961px) {
  .searchSectionFormContainerElement>select {
    width: 15em;
  }

  .searchSectionFormContainerElement {
    width: auto;
  }

  #searchResultsContainer>article {
    width: 49.5%;
  }

  .searchResultsBody3btn>button {
    width: 32%;
  }

  .searchResultsBody2btn>button {
    width: 49%;
  }

  /* .searchResultsBody {
    margin-top: .5em;
  } */
}
