<section id="searchBand">
  <div class="container">
    <app-properties-search></app-properties-search>
  </div>
</section>
<section id="searchSection">
  <div class="container">
    <h1>Luxury property for sale in Nigeria - <small><strong>1592 Total properties</strong></small></h1>
    <!-- <h4><strong>1592 TOTAL PROPERTIES</strong></h4> -->
    <form [formGroup]="propertiesPaginationForm">
      <p><small><strong>ORDER BY</strong></small></p>
      <div id="searchSectionFormContainer" class="flexRowWrap">
        <div class="searchSectionFormContainerElement selectChevDownElement">
          <select formControlName="criteria" required>
            <option value="" >SELECT</option>
            <option value="price_up" selected aria-selected>PRICE ⮝</option>
            <option value="price_down">PRICE ⮟</option>
            <option value="surface_area_up">SURFACE AREA ⮝</option>
            <option value="surface_area_down">SURFACE AREA ⮟</option>
            <option value="latest_acquisitions">LATEST ACQUISITIONS ⮝</option>
          </select>
          <select formControlName="numberPerPage">
            <option value="" disabled>PROPERTIES PER PAGE</option>
            <option value="4" selected>4 PER PAGE</option>
            <option value="8">8 PER PAGE</option>
            <option value="12">12 PER PAGE</option>
            <option value="16">16 PER PAGE</option>
          </select>
        </div>
        <div class="searchSectionFormContainerElement">
          <app-paginator [initPage]="4" [displayedPages]="4" [lastPage]="10"></app-paginator>
        </div>
      </div>
    </form>
  </div>
</section>
<app-property-results></app-property-results>
<app-exclusive-properties></app-exclusive-properties> 