/* .formGroup {
  margin-top: .7em;
} */

/* .formElement.float button {
  width: 3em;
  float: right;
  margin-left: .8em;
}

.formElement.float button>svg {
  display: inline;
} */

.formElement {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.formElement>select,
.formElement button,
.formElement input {
  height: 2.3em;
  border-radius: .2em;
  margin-top: 1em;
  /* margin: .5em; */
  width: 100%;
}

.formElement.flex{
  width: 100%;
}

.formElement button {
  padding: .2em .5em .1em .2em;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  display: inline;
}

/* .formElement input {
  background: #fff;
  border: 0;
} */

.formElement>select {
  border: 1px solid #CCC;
  height: 2.4em;
}

.formElement>select:hover {
  background-color: #ccc;
}

.formGroup h4 {
  color: #fff;
  margin: .8em 0;
}

.formElement>button span {
  display: inline;
}

.formElement>button svg {
  display: none;
}

/* CAUTION: Internet Explorer hackery ahead */
.formElement>select::-ms-expand {
  display: none;
  /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  .formElement>select {
    background: none\9;
    padding: 5px\9;
  }
}

@media only screen and (min-width:961px) {
  .formElement button span {
    display: none;
  }

  .formElement button svg {
    display: inline;
  }

  /* .formGroup h4 {
    float: left;
    margin-right: 3em;
  } */

  /* .formElement.hiddenOverflow>input {
    width: 16em;
  } */

  /* .formElement.float {
    display: table;
    margin: 0 auto;
  } */

  .formElement.flex{
    flex-grow: 1;
  }
  
  .formElement.flex.selectChevDownElement{
    flex-grow: 4;
  }

  .formElement.flex{
    padding: 0 .2em;
  }
  
  .formElement.flex:first-child{
    padding-left: 0;
  }
  
  .formElement.flex:last-child{
    padding-right: 0;
  }

  .formElement.flex{
    width: auto;
  }

  .formElement>select,
.formElement button,
.formElement input {
  margin-top: .5em;
}

#propertySearchForm>.flexRowWrap{
  flex-wrap: nowrap;
}
}
