<section id="contactContainer">
  <div class="container">
    <div id="mainColsContainer" class="flexRowWrap">
      <article>
        <h1><strong>The team at sage capita luxury real estate is at your disposal for all your requests</strong></h1>
        <hr />
        <p>Remember that you can make the most of our experience even by telephone, and consult directly with mother
          tongue
          English, Russian, German, Spanish, French and Chinese speakers.</p>
        <div class="flexRowWrap">
          <div class="contactOfficesContainer">
            <h4><strong>NIGERIA</strong></h4>
            <img src="../../assets/image_3.jpg" alt="contact office 1" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small><a href="https://goo.gl/maps/17VrGaAG8W2JytA79">Plot 242, M. Buhari Way, CBD, Abuja</a></small></p>
                <p><small>Tel. <a href="tel:+2349029120518">+234 902 912 0518</a></small></p>
                <p><small><a href="mailto:nigeria@sagecapita.com">Nigeria@sagecapita.com</a></small></p>
              </div>
              <div>
                <a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A"><button>MAP</button></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="contactOfficesContainer">
            <h4><strong>USA</strong></h4>
            <img src="../../assets/image_3.jpg" alt="contact office 1" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small><a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A">6505 Liberty Road, Baltimore, MD 21207</a></small></p>
                <p><small>Tel. <a href="tel:+4435592636">+443 559 2636</a></small></p>
                <p><small><a href="mailto:usa@sagecapita.com">Usa@sagecapita.com</a></small></p>
              </div>
              <div>
                <a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A"><button>MAP</button></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
    </div>
  </div>
</section>
<app-contact-section></app-contact-section>
