<section id="contactContainer">
  <div class="container">
    <div id="mainColsContainer" class="flexRowWrap">
      <article>
        <h1><strong>We skillfully unite extraordinary properties with extraordinary lives</strong></h1>
        <hr />
        <p>At Sage, we are committed to provide an exceptional level of customer experience to clients around the world. For any questions or concerns, contact us today to be matched with the appropriate specialist for your specific real estate needs.</p>
        <div class="flexRowWrap">
          <div class="contactOfficesContainer">
            <h4><strong>NIGERIA</strong></h4>
            <img src="../../assets/image_3.jpg" alt="Nigeria Office" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small><a href="https://goo.gl/maps/17VrGaAG8W2JytA79">Plot 242, M. Buhari Way, CBD, Abuja</a></small></p>
                <p><small>Tel. <a href="tel:+2349029120518">+234 902 912 0518</a></small></p>
                <p><small><a href="mailto:hq@sagecapita.com">HQ@sagecapita.com</a></small></p>
              </div>
              <div>
                <a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A"><button>MAP</button></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="contactOfficesContainer">
            <h4><strong>USA</strong></h4>
            <img src="../../assets/image_3.jpg" alt="USA Office" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small><a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A">6505 Liberty Road, Baltimore, MD 21207</a></small></p>
                <p><small>Tel. <a href="tel:+4435592636">+443 559 2636</a></small></p>
                <p><small><a href="mailto:cse@sagecapita.com">CSE@sagecapita.com</a></small></p>
              </div>
              <div>
                <a href="https://goo.gl/maps/zooWvzC4DM7Heyk8A"><button>MAP</button></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
    </div>
  </div>
</section>
<app-contact-section></app-contact-section>
