<section id="contactContainer">
  <div class="container">
    <div id="mainColsContainer" class="flexRowWrap">
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
      <article>
        <h1><strong>The team at sage capita luxury real estate is at your disposal for all your requests</strong></h1>
        <hr />
        <p>Remember that you can make the most of our experience even by telephone, and consult directly with mother
          tongue
          English, Russian, German, Spanish, French and Chinese speakers.</p>
        <div class="flexRowWrap">
          <div class="contactOfficesContainer">
            <h4><strong>Florence</strong></h4>
            <img src="../../assets/home-carousel/slide_1.jpg" alt="contact office 1" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small> Via de' Tornabuoni, 1 50123 Florence - Nigeria</small></p>
                <p><small>Tel. <a href="tel:+390550548100">+39 055 0548100</a></small></p>
                <p><small><a href="mailto:florence@lionard.com">Florence@lionard.com</a></small></p>
              </div>
              <div>
                <button>MAP</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="contactOfficesContainer">
            <h4><strong>Florence</strong></h4>
            <img src="../../assets/home-carousel/slide_1.jpg" alt="contact office 1" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small> Via de' Tornabuoni, 1 50123 Florence - Nigeria</small></p>
                <p><small>Tel. <a href="tel:+390550548100">+39 055 0548100</a></small></p>
                <p><small><a href="mailto:florence@lionard.com">Florence@lionard.com</a></small></p>
              </div>
              <div>
                <button>MAP</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="contactOfficesContainer">
            <h4><strong>Florence</strong></h4>
            <img src="../../assets/home-carousel/slide_1.jpg" alt="contact office 1" />
            <hr />
            <div class="contactOfficesInfo flexRowWrap">
              <div>
                <p><small> Via de' Tornabuoni, 1 50123 Florence - Nigeria</small></p>
                <p><small>Tel. <a href="tel:+390550548100">+39 055 0548100</a></small></p>
                <p><small><a href="mailto:florence@lionard.com">Florence@lionard.com</a></small></p>
              </div>
              <div>
                <button>MAP</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<app-contact-section></app-contact-section>
