<section id="body" *ngIf="property">
    <div class="container">
      <div class="flexRowWrap">
        <aside>
          <h1>{{property.main_title | titlecase}}</h1>
          <h4>{{property.side_title | titlecase}}</h4>
          <p><strong>CODE: {{property.code}}</strong></p>
          <hr />
          <p><strong>TECHNICAL DETAILS</strong></p>
          <div class="asideSmItem">
            <p>State: {{property.state | titlecase}}</p>
            <p>City: {{property.city | titlecase}} </p>
            <p>Suburb: {{property.suburb | titlecase}} </p>
          </div>
          <div class="asideSmItem">
            <p>Type: {{property.type | titlecase}}</p>
          </div>
          <div class="asideSmItem">
            <p>Interior surface: {{property.interior_surface | number}} sqm</p>
            <p>Exterior surface: {{property.exterior_surface | number}} sqm</p>
          </div> 
          <div class="asideSmItem">
            <p *ngFor="let features of property?.features">{{features | titlecase}}</p>
          </div>
        </aside>
        <article>
          <div class="flexRowWrap">
            <div class="articleTopCol">
              <p>Price</p>
              <h3 *ngIf="property.price">{{getCurrencySymbol('NGN')}}{{property.price | number}}</h3>
              <h3 *ngIf="property.price_lower_range && property.price_upper_range">{{getCurrencySymbol(property.currency)}}{{property.price_lower_range | number}} TO {{getCurrencySymbol(property.currency)}}{{property.price_upper_range | number}}</h3>
              <h3 *ngIf="property.is_exclusive">ON APPLICATION</h3>
              <button>BROCHURE PDF</button>
            </div>
            <div class="articleTopCol">
              <p>Area in Metres</p>
              <h3 *ngIf="property.interior_surface">{{property.interior_surface | number}} Sqm</h3>
              <button>ASK FOR INFORMATION</button>
            </div>
          </div>
          <p><strong>{{property.heading_title | titlecase}}</strong>
          </p>
          <hr />
          <p>{{property.description_text}}</p>
        </article>
      </div>
    </div>
  </section>