<div class="dropdown">
    <button class="dropbtn" (click)="onDropDownClick('myDropdown1')">{{currency[0]}} <img
        src="../assets/chevron-down.png" alt="Chevron down" /></button>
    <div id="myDropdown1" class="dropdown-content">
      <a [ngClass]="{'selected': currency[0] === '₦'}" (click)="selectCurrency('₦', 'NGN')">NGN ₦</a>
      <a [ngClass]="{'selected': currency[0] === '$'}" (click)="selectCurrency('$', 'USD')">USD $</a>
      <a [ngClass]="{'selected': currency[0] === '£'}" (click)="selectCurrency('£', 'GBP')">GBP £</a>
    </div>
  </div>