#searchBand {
  background: #064A77;
  padding: .5em 2em 1em 2em;
  border-bottom: 10px solid #eee;
}

#body {
  padding: 2em 2em;
}

#body aside,
#body article,
.articleTopCol {
  width: 100%;
}

.articleTopCol {
  margin-bottom: 1em;
}

.articleTopCol p {
  margin: 0;
}

.articleTopCol h3 {
  margin: .3em 0 2.15em 0;
}

.articleTopCol>button {
  height: 3em;
  background: #064A77;
  color: #fff;
}

.articleTopCol>button:hover {
  color: #064A77;
  background: #fff;
}

hr {
  border: none;
  border-top: 1px solid #064A77;
}

aside hr {
  margin: 0;
}

#body aside h1 {
  text-overflow: ellipsis;
}

.asideSmItem {
  margin: 1.3em 0;
}

.asideSmItem p {
  margin: .1em 0;
}

#viewedProperties>h3 {
  text-align: center;
}

#viewedProperties {
  padding: 2em .5em;
  border-bottom: 1px solid #f4f4f5;
}

#viewedProperties>button {
  margin: 0 auto;
  display: table;
  width: 14em;
  height: 2.7em;
  margin-top: 3em;
  border-color: #064A77;
  color: #064A77;
}

#viewedProperties>button:hover {
  background: #064A77;
  color: #fff;
}

#viewedProperties .flexRowWrap {
  justify-content: space-around;
}

.viewedPropertiesText p {
  margin: 0;
  line-height: 1.2em;
}

.viewedPropertiesText {
  background: #064A77;
  color: #fff;
  padding: .4em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.viewedPropertiesItem {
  position: relative;
  margin-top: 1em;
}

.viewedPropertiesItem,
.viewedPropertiesItemImg>img {
  width: 100%;
}

.viewedPropertiesItemImg {
  height: 10em;
  overflow: hidden;
}

.viewedPropertiesText {
  height: 5em;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (min-width:961px) {
  #body aside {
    width: 28%;
  }

  #body article {
    width: 68%;
  }

  .articleTopCol {
    width: 49%;
  }

  .viewedPropertiesItem {
    width: 24.3%;
  }
}

@media (min-width:1900px) {
  .viewedPropertiesItemImg {
    height: 28em;
  }
}
