<section id="searchBand">
  <div class="container">
    <app-properties-search></app-properties-search>
  </div>
</section>
<app-carousel-gallery></app-carousel-gallery>
<section id="body">
  <div class="container">
    <div class="flexRowWrap">
      <aside>
        <h1>Exclusive villa surrounded by a pine forest near</h1>
        <h4>Luxury villa with pool overlooking the sea on the island of Capri</h4>
        <p><strong>CODE: 4987</strong></p>
        <hr />
        <p><strong>TECHNICAL DETAILS</strong></p>
        <div class="asideSmItem">
          <p>Region: Campania</p>
          <p>Province: Naples </p>
          <p>Municipality: Anacapri </p>
        </div>
        <div class="asideSmItem">
          <p>Type: luxury villa</p>
        </div>
        <div class="asideSmItem">
          <p>Internal surface: 160 sqm</p>
          <p>External surface: 4,000 sqm</p>
        </div>
        <div class="asideSmItem">
          <p>2 floors</p>
          <p>4 bedrooms</p>
          <p>4 bathrooms</p>
          <p>Laundry room</p>
        </div>
        <div class="asideSmItem">
          <p>Cellar</p>
          <p>Panoramic swimming pool</p>
          <p>Terr...</p>
        </div>
        <div class="asideSmItem">
          <a href="#">
            <p>Show more &gt;</p>
          </a>
        </div>
      </aside>
      <article>
        <div class="flexRowWrap">
          <div class="articleTopCol">
            <p>Price</p>
            <h3>€ 3.500.000</h3>
            <button>BROCHURE PDF</button>
          </div>
          <div class="articleTopCol">
            <p>Area in Metres</p>
            <h3>160 Sqm</h3>
            <button>ASK FOR INFORMATION</button>
          </div>
        </div>
        <p><strong>Intimately-located luxury villa with wondeful view in front of Anacapri's sea</strong>
        </p>
        <hr />

        <p>This wonderful luxury villa for sale is in Anacapri, surrounded by a breathtaking landscape just before a
          thick pine forest overlooking the sea, which can be reached by a convenient private access.
          This property is in Capri's typical style and features a harmonious dialogue between the interiors and the
          exteriors, between residential spaces and untouched nature.</p>
        <p>It can be easily reached by car, bu driving through a spacious garden measuring approximately 4,000 sqm, a
          very peaceful place where you can be truly in close contact with its maritime surroundings.
          This two-storey property measures 160 sqm overall and is composed of a bright and spacious living room, a
          kitchen, a dining room, and four bedrooms with bathroom.</p>
        <p>This <strong>prestigious property for sale by Anacapri's sea</strong> is completed by a magnificent panoramic
          swimming pool, a finely-planted 4,000-sqm garden that luxuriantly frames the whole estate, offering pleasant
          views, spacious terraces overlooking the island of Campania's archipelago, and a thick pine forest that
          descends towards the crystal-blue sea.</p>
      </article>
    </div>
  </div>
</section>
<app-contact-section></app-contact-section>
<section id="viewedProperties">
  <h3>VIEWED PROPERTIES</h3>
  <div class="flexRowWrap">
    <div class="viewedPropertiesItem">
      <img style="position: absolute;top:1em;right:1em;height: 1.7em;" src="../../../assets/star-white.png" />
      <div class="viewedPropertiesItemImg">
        <img src="../../../assets/home-carousel/slide_1.jpg" alt="Property" />
      </div>
      <div class="viewedPropertiesText">
        <p>Luxury Villa For Sale On The Island Of Capri</p>
        <p>&#8364; 6.500.000</p>
        <div>
          <p class="left"><strong>SEASIDE&#8226;CAPRI&#8226;CAMPINA</strong></p>
          <p class="right"><strong>CODE 2342</strong></p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="viewedPropertiesItem">
      <img style="position: absolute;top:1em;right:1em;height: 1.7em;" src="../../../assets/star-white.png" />
      <div class="viewedPropertiesItemImg">
        <img src="../../../assets/home-carousel/slide_1.jpg" alt="Property" />
      </div>
      <div class="viewedPropertiesText">
        <p>Luxury Villa For Sale On The Island Of Capri</p>
        <p>&#8364; 6.500.000</p>
        <div>
          <p class="left"><strong>SEASIDE&#8226;CAPRI&#8226;CAMPINA</strong></p>
          <p class="right"><strong>CODE 2342</strong></p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="viewedPropertiesItem">
      <img style="position: absolute;top:1em;right:1em;height: 1.7em;" src="../../../assets/star-white.png" />
      <div class="viewedPropertiesItemImg">
        <img src="../../../assets/home-carousel/slide_1.jpg" alt="Property" />
      </div>
      <div class="viewedPropertiesText">
        <p>Luxury Villa For Sale On The Island Of Capri</p>
        <p>&#8364; 6.500.000</p>
        <div>
          <p class="left"><strong>SEASIDE&#8226;CAPRI&#8226;CAMPINA</strong></p>
          <p class="right"><strong>CODE 2342</strong></p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="viewedPropertiesItem">
      <img style="position: absolute;top:1em;right:1em;height: 1.7em;" src="../../../assets/star-white.png" />
      <div class="viewedPropertiesItemImg">
        <img src="../../../assets/home-carousel/slide_1.jpg" alt="Property" />
      </div>
      <div class="viewedPropertiesText">
        <p>Luxury Villa For Sale On The Island Of Capri</p>
        <p>&#8364; 6.500.000</p>
        <div>
          <p class="left"><strong>SEASIDE&#8226;CAPRI&#8226;CAMPINA</strong></p>
          <p class="right"><strong>CODE 2342</strong></p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <button>SEE ALL</button>
</section>
