<div>
    <a href="#" [routerLink]="['/properties/' + property.code]">
        <img class="propertyImage" [src]="property.photo"  alt="Property photo" />
        <img class="propertyStar" src="../assets/star-white.png" alt="star" />
        <div class="propertyDataContainer">
          <div class="propertyData">
            <div class="propertyDataContent">
              <p class="propertyDataTitle">{{property.main_title}}</p>
              <p class="propertyDataStatus" *ngIf="property.is_exclusive">ON APPLICATION</p>
              <p class="propertyDataStatus" *ngIf="property.price">{{getCurrencySymbol('NGN')}}{{property.price | numberMillions:'1.0-1'}}</p>
              <p class="propertyDataStatus" *ngIf="property.price_lower_range && property.price_upper_range">{{getCurrencySymbol(property.currency)}}{{property.price_lower_range | numberMillions:'1.0-1'}} TO {{getCurrencySymbol('NGN')}}{{property.price_upper_range | numberMillions:'1.0-1'}}</p>
              <p class="propertyDataLocation"><small>{{property?.suburb}} - {{property.city}} - {{property.state}}</small></p>
              <p class="propertyDataCode"><small>Code. {{property.code}}</small></p>
            </div>
            <div class="propertyDataOverlay"></div>
          </div>
        </div>
      </a>
</div>