main {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.menuHeaderContainer {
  position: absolute;
  z-index: 9;
  width: 100%;
}

.menuHeaderContainer>header {
  padding: 0 1em 0 1em;
  background-color: #fff;
}

.menuHeaderContainer img {
  margin: .3em 0 0 .3em;
}
header nav#desktop #menuList ul {
  display: inline;
  border-bottom: 1px solid rgb(4, 37, 59);
  padding: .2em 0;
}
#searchBar ul {
  padding: 0;
  margin: 0;
}

#searchBar svg {
  cursor: pointer;
  fill: rgb(4, 37, 59);
}

#desktop button {
  height: 2.2em;
  padding: .1em 1em
}


header ul li {
  padding: .5em .4em;
}

header ul li:first-child {
  padding-left: .4em;
}

header ul li:last-child {
  padding-right: 0;
}

header nav#desktop #menuList ul li.active,
header nav#desktop #menuList ul li:hover {
  border-bottom: 4px solid #b1915d;
}

header ul li a {
  font-weight: 700;
}

nav#desktop ul li {
  display: inline;
}

#mobileMenu {
  position: absolute;
  top: 1em;
  right: 1em;
}

nav#mobile {
  background: #fff;
  padding: 0 0 1em 0;
  text-align: center;
  font-weight: 700;
  font-size: 90%;
  letter-spacing: .1em;
  z-index: 9999999;
  position: relative
}

nav#mobile ul {
  padding: 0;
  margin: 0;
}

nav#mobile ul li {
  padding: .6em 0;
  color: #fff;
}

nav#mobile ul li a {
  text-align: center;
}

nav#desktop {
  display: none;
}

.menuHeaderContainer form svg {
  vertical-align: middle;
}

.menuHeaderContainer form input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(4, 37, 59);
}

button
{
  display: inline;
}

button {
  margin: 0;
  width: inherit;
  border-color: rgb(4, 37, 59);
}

button.noBorderBtn {
  border-color: transparent;
}

form input::placeholder {
  color: #000;
}

footer {
  padding: 1em 3em 1em 3em;
  text-align: center;
}

footer .flexRowWrap>section {
  width: 100%;
  margin-top: .9em;
}

#addressInfoContainer {
  align-content: flex-start;
  justify-content: space-between;
}

.addressInfo {
  margin-bottom: .5em;
}

footer p {
  margin: .1em 0;
  line-height: 1.2em;
}

#newsletterContainer {
  margin-top: .8em;
}

#newsletterEmail {
  margin-bottom: .4em;
  flex: 1;
}

#newsletterFormGroup input {
  width: 100%;
  height: 3em;
  border-color: #ccc;
}

#newsletterFormGroup button {
  height: 3em;
  width: 100%;
  background: rgb(4, 37, 59);
  border-color: rgb(4, 37, 59);
  color: #fff;
  margin-left: 0;
}

#socialLinks {
  text-align: center;
  margin: 1.8em 0 1em 0;
}

#socialLinks svg {
  width: 2em;
  height: 2em;
  margin: 0 .2em;
}

#headerHeight {
  height: 139px;
}

@media only screen and (min-width:961px) {
  header ul li {
    padding: 0 1.6em;
  }

  #menuGroup{
    float: right;
  }

  #searchBar {
    margin-bottom: 1.2em;
  }

  #logo{
    float: left;
  }

  form {
    display: inline;
  }

  form input{
    width: auto;
  }
  
  nav#desktop {
    display: inline;
  }

  #searchBar ul li {
    display: inline;
  }

  nav#mobile,
  #mobileMenu {
    display: none;
  }

  footer .flexRowWrap>section {
    width: 33.3%;
  }

  footer {
    text-align: left;
  }

  #socialLinks svg {
    width: 1em;
    height: 1em;
    margin: 0 .6em;
  }

  #socialLinks {
    text-align: right;
  }

  #newsletterFormGroup button {
    width: 8em;
    margin-left: .5em;
  }

  footer {
    padding-left: 6em;
    padding-right: 6em;
  }

  .menuHeaderContainer>header {
    background-color: transparent;
  }
}
