main {
    width: 100%;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  button {
    font-weight: 700;
    height: auto;
  }
  
  .menuHeaderContainer {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  
  /* .menuHeaderContainer header {} */
  
  .menuHeaderContainer img {
    height: 10em;
  }
  
  header nav#desktop #menuList ul {
    display: inline;
    border-bottom: 1px solid #000;
    padding: .9em 0;
  }
  
  header nav#desktop #searchBar ul {
    padding: 0;
    margin: 0;
  }
  
  #desktop #searchBar svg {
    cursor: pointer;
  }
  
  #desktop #searchBar img {
    height: 1em;
    margin: 0 0 0 .7em;
    vertical-align: text-top;
    pointer-events: none;
  }
  
  #desktop button {
    height: 2.2em;
    padding: .1em 1em
  }
  
  #desktop #searchBar {
    float: right;
    margin-bottom: 2em;
  }
  
  header ul li {
    padding: .7em 1.2em;
  }
  
  header ul li:first-child {
    padding-left: 0;
  }
  
  header ul li:last-child {
    padding-right: 0;
  }
  
  header nav#desktop #menuList ul li:hover {
    border-bottom: 4px solid rgb(241, 116, 7);
  }
  
  header ul li a {
    color: #fff;
  }
  
  nav#desktop ul li {
    display: inline;
  }
  
  #logo {
    float: left;
  }
  
  nav#desktop,
  #mobileMenu {
    float: right;
  
  }
  
  nav#desktop {
    padding: .8em 0;
  }
  
  #mobileMenu {
    padding: 2em;
  }
  
  nav#mobile {
    background: #fff;
    padding: 2em 0;
    display: none;
  }
  
  nav#mobile ul li {
    padding: .3em 0;
    color: #fff;
  }
  
  nav#mobile ul li a {
    color: royalblue;
    text-align: center;
  }
  
  nav#desktop {
    display: none;
  }
  
  nav#desktop form svg {
    vertical-align: middle;
  }
  
  nav#desktop form input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
    width: auto;
  }
  
  nav#desktop button,
  nav#desktop form {
    display: inline;
  }
  
  nav#desktop button {
    margin: 0;
    width: inherit;
  }
  
  nav#desktop button.noBorderBtn {
    border-color: transparent;
  }
  
  nav#desktop form input::placeholder {
    color: #000;
  }



footer {
    padding: 1em 3em 3em 3em;
    text-align: center;
    color: rgb(2, 36, 58);
  }
  
  footer img {
    height: 10em;
  }
  
  footer>section {
    width: 100%;
  }
  
  .addressInfo {
    display: table;
    margin: 2em auto;
  }
  
  .addressInfo>p {
    margin: .3em 0;
  }
  
  #socialLinks {
    text-align: center;
    margin-top: 2em;
  }
  
  #socialLinks svg {
    width: 2em;
    height: 2em;
    margin: 0 .2em;
  }

  @media (min-width:961px) {
    nav#desktop {
        display: inline;
      }
    
      nav#mobile,
      #mobileMenu {
        display: none;
      }



      footer>section {
        width: 33.3%;
      }
    
      footer {
        text-align: left;
      }
    
      #socialLinks svg {
        width: 1em;
        height: 1em;
        margin: 0 .6em;
      }
    
      #socialLinks {
        text-align: right;
      }
  }