main {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.menuHeaderContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.menuHeaderContainer>header{
  padding: 0 2em;
}

/* .menuHeaderContainer header {} */

.menuHeaderContainer img {
  height: 10em;
}

header nav#desktop #menuList ul {
  display: inline;
  border-bottom: 1px solid #064A77;
  padding: .2em 0;
}

.right{
  float: right;
}
 
header nav#desktop #searchBar ul {
  padding: 0;
  margin: 0;
}

#desktop #searchBar svg {
  cursor: pointer;
  fill: rgb(4, 37, 59);
}

#desktop #searchBar img {
  height: 1em;
  margin: 0 0 0 .7em;
  vertical-align: text-top;
  pointer-events: none;
}

#desktop button {
  height: 2.2em;
  padding: .1em 1em
}

#desktop #searchBar {
  float: right;
  margin-bottom: 1.2em;
}

header ul li {
  padding: 0 1.6em;
}

header ul li:first-child {
  padding-left: .6em;
}

header ul li:last-child {
  padding-right: 0;
}

header nav#desktop #menuList ul li.active, header nav#desktop #menuList ul li:hover {
  border-bottom: 4px solid rgb(241, 116, 7);
}

header ul li a {
  /*color: #064A77;*/
  font-weight: 700;
}

nav#desktop ul li {
  display: inline;
}

#logo {
  float: left;
}

nav#desktop,
#mobileMenu {
  float: right;

}

nav#desktop {
  padding: .8em 0;
}

#mobileMenu {
  padding: 2em;
}

nav#mobile {
  background: #fff;
  padding: 2em 0;
  display: none;
}

nav#mobile ul li {
  padding: .3em 0;
  color: #fff;
}

nav#mobile ul li a {
  color: royalblue;
  text-align: center;
}

nav#desktop {
  display: none;
}

nav#desktop form svg {
  vertical-align: middle;
}

nav#desktop form input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: #064A77;
  width: auto;
  /*color: #064A77;*/
}

nav#desktop button,
nav#desktop form {
  display: inline;
}

nav#desktop button {
  margin: 0;
  width: inherit;
  border-color: #064A77;
  /*color: #064A77;*/
}

nav#desktop button.noBorderBtn {
  border-color: transparent;
  /*color: #064A77;*/
}

nav#desktop form input::placeholder {
  color: #000;
}

footer {
  padding: 1em 3em 1em 3em;
  text-align: center;
  /*color: #064A77;*/
}

footer a{
  /*color: #064A77;*/
}

/* footer img {
  height: 10em;
} */

footer .flexRowWrap>section {
  width: 100%;
  margin-top: .9em;
}

#addressInfoContainer{
/*  display: table;
  margin: 0 auto; */
  align-content: flex-start;
  justify-content: space-between;
}

.addressInfo {
  margin-bottom: .5em;    
}

footer p{
  margin: .1em 0;
  line-height: 1.2em;
}

#newsletterContainer{
  margin-top: .8em;
}

/* .addressInfo>p {
  
} */

#newsletterEmail {
  margin-bottom: .4em;
  flex: 1;
}

#newsletterFormGroup input {
  width: 100%;
  height: 3em;
  border-color: #ccc;
}

#newsletterFormGroup button {
  height: 3em;
  width: 100%;
  background: #064A77;
  border-color: #064A77;
  color: #fff;
  margin-left: 0;
}

#socialLinks {
  text-align: center;
  margin: 1.8em 0 1em 0;
}

#socialLinks svg {
  width: 2em;
  height: 2em;
  margin: 0 .2em;
}

#headerHeight {
  height: 169px;
}

@media only screen and (min-width:961px) {
  nav#desktop {
    display: inline;
  }

  nav#mobile,
  #mobileMenu {
    display: none;
  }

  footer .flexRowWrap>section {
    width: 33.3%;
  }

  footer {
    text-align: left;
  }

  #socialLinks svg {
    width: 1em;
    height: 1em;
    margin: 0 .6em;
  }

  #socialLinks {
    text-align: right;
  }

  #newsletterFormGroup button {
    width: 8em;
    margin-left: .5em;
  }

  footer {
    padding-left: 6em; 
    padding-right: 6em;
  }
}
