<section id="joinContainer">
  <div class="container">
    <div id="joinColsContainer" class="flexRowWrap">
      <article>
        <h1>Responsible and responsive; constant and courageous; independent and innovative. We are looking for
          uniqueness</h1>
        <hr />
        <div>
          <video width="100%" poster="../../assets/image_3.jpg" controls>
            <source src="https://cdn-maps.sagecapita.com//Allegati/SAGECAPITA_RIF5118_720.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <hr />
        <p>SageCapita Luxury Real Estate is a leading company in the brokerage of luxury estates in Nigeria and it is in
          continuous growth. For this reason, we are always looking for serious and qualified professionals for our
          team.
          For people who share our professional and motivational mission and who are able to manage relationships of the
          highest level in this field. The role is delicate and strategic. It requires precision, great attention to
          detail,
          pragmatism and the ability to work with style on complex business relations. Look at our open positions and
          select
          the one that fits your professional profile. You can upload your CV only in .pdf format. It is also
          possible to send a <a href="mailto:info@sagecapita.com">spontaneous application</a>. If SageCapita Luxury Real
          Estate
          is interested, you will be contacted for a first interview.</p>
        <!-- <button>COMPANY</button> -->
        <div id="jobContainer">
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>VP (SALES & MARKETING)</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>We are seeking an experienced Vice President (Sales & Marketing) to join our team. We are building an
                  innovative global real estate brand.</p>
                <p>The VP of Sales and Marketing is responsible for managing all brands, channels, and deployment of
                  sales
                  for
                  our company. You will be responsible for developing the strategic sales plans based on Sage Capita’s
                  goals
                  that will promote sales growth and customer satisfaction. Specific responsibilities include business
                  and
                  market development, customer management, management of market research, strategic direction for
                  promotion
                  and advertising, sales growth and customer satisfaction. The VP will also oversee the sales and
                  marketing
                  team members’ daily activity and development</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Develops marketing and sales plans to achieve sales growth. Monitors and reports actual sales
                  against
                  planned sales<br />
                  - Continually implements improvements to the Company’s sales strategies to compete effectively in the
                  industry.<br />
                  - Ability to interview, hire, inspire, and manage future sales staff to meet corporate growth
                  goals.<br />
                  - Establishes, maintains, and expands relationships with key strategic customers and partners.<br />
                  - Develops marketing materials, and growth strategy to build awareness and achieve corporate growth
                  goals.<br />
                  - Develop, articulate, and champion a clear and compelling marketing narrative across all B2B
                  programs.<br />
                  - Lead the development of all online merchandising strategies and execution to drive engagement.<br />
                  - Identify & implement opportunities to cross-sell and up-sell buyers within the customer
                  journey.<br />
                  - Establishes and maintains a consistent corporate image throughout all activities, promotional
                  materials,
                  and events.<br />
                  - Ensure that all Sage Capita communications are compliant from the legal & product team perspective.
                  <br />
                  - Find and vet partners to help Sage Capita accomplish our corporate goals.<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - A bachelor degree<br />
                  - 10+ years of experience in sales and marketing<br />
                  - Proven ability to thrive in an entrepreneurial, creative and collaborative environment<br />
                  - Strong analytical acumen and knowledge of how to identify trends and opportunities and translate
                  them
                  into initiatives that drive growth<br />
                  - Strong communication, negotiation, and team management skills<br />
                  - Willingness to travel frequently<br />
                  - Set KPIs to measure effectiveness<br />
                  - Overall management of staff, ensuring assignments and duties are completed as required<br />
                  - Compose and conduct performance reviews<br />
                  - Provide guidance, training, mentoring, coaching and development<br />
                  - Make recommendations regarding hiring, promoting and terminating<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>GENERAL COUNSEL & COMPLIANCE OFFICER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>The General Counsel & Compliance Officer will report directly to the President and will manage our
                  house
                  legal team. This position necessitated by Sage Capita’s new business model and growth strategy. We're
                  moving into new and exciting areas, and we need you!</p>
                <p>You will oversee the day-to-day functioning of the legal structure and will also ensure compliance
                  with
                  industry, regulatory and Sage Capita’s requirements. This role will engage proactively with the rest
                  of
                  the company, including the Operations, Product development, and Finance teams to proactively identify
                  compliance -related gaps and advise the leadership team on how to advance the company's mission.</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Design, implement, and maintain processes for reviewing, drafting, negotiating, executing, and
                  tracking
                  ongoing compliance with commercial agreements, on both the buy side and sell side.<br />
                  - Maintain responsibility for corporate governance, including the entity structure, capital structure,
                  and
                  compliance with all associated obligations.<br />
                  - Liaise with outside counsel to improve efficient communications and maximize value.<br />
                  - Engage with industry participants and other external stakeholders to keep Sage Capita on the cutting
                  edge of our industry.<br />
                  - Responsible for the company's Compliance Program planning and development functions, ensuring there
                  is
                  a
                  plan designed to meet all Compliance Program requirements, in line with the appropriate regulatory
                  requirements.<br />
                  - Identify potential areas of compliance vulnerability and risk; develop and implement corrective
                  action
                  plans for resolution of problematic issues and provide general guidance on how to avoid or deal with
                  similar situations in the future.<br />
                  - Monitor and report results of the compliance/ethics efforts of our platform and provide guidance for
                  our
                  partners on matters relating to compliance.<br />
                  - Collaborate closely with partners on matters of major importance to the company and provide
                  information
                  related to all aspects of the platform's compliance, including reporting ongoing compliance issues and
                  intentional acts of non-compliance, fraud, and abuse.<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - A law degree<br />
                  - Excellent organizational skills<br />
                  - Excellent writing skills<br />
                  - Ability to think through complex concepts and tackle them in an efficient manner<br />
                  - Ability to engage constructively with partners<br />
                  - Experience in conducting investigations and managing the entire investigation process, including the
                  management and tracking of the investigation lifecycle and the close-out process<br />
                  - Knowledge and understanding of legal issues facing global real estate investment companies including
                  fraud, abuse, and privacy<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>SENIOR MARKETING STRATEGIST</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>We are seeking an experienced Senior Marketing Strategist to join our team, as part of our effort to
                  reposition Sage Capita as a global real estate brand. The ideal candidate is a strong communicator
                  (written and verbal), a proactive self-starter, and highly organized professional.
                </p>
                <p>As a Senior Marketing Strategist and Team Leader, you will have revenue responsibility for a
                  portfolio
                  of
                  Sage Capita clients that operate within our ecosystem. You will recommend and execute digital
                  marketing,
                  lead generation, marketing automation, and sales enablement activities that include content marketing,
                  SEO, sales, and marketing alignment. Growing revenue and marketing ROI is at the heart of what we do,
                  so
                  you will be responsible for measuring, analyzing, and understanding the performance of marketing
                  strategies and advising on opportunities for improvement.</p>
                <p>To be successful in this role, you must be comfortable with both your strategic marketing skills and
                  your
                  ability to manage and mentor a group of smart, driven marketers.</p>
                <p>You will work directly with the VP of Marketing & Sales, you will be involved in shaping Client
                  Services
                  by continuously innovating client onboarding, marketing services, processes, and delivery. You will be
                  a
                  champion that helps grow Sage Capita brand by building a team of smart, like-minded marketers.</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Onboard and/or help your team onboard new clients and create a vision and revenue-generating
                  marketing
                  strategy based on client targeting, and good user stories.<br />
                  - Assist and empower clients with the results, knowledge, content, and tools to meet their investing
                  criteria and satisfy their goals.<br />
                  - Design and execute marketing strategies to proactively to meet schedule, performance, and budget
                  goals.<br />
                  - Work closely with the VP of Sales & Marketing to continuously improve services, systems, and
                  delivery
                  models for clients.<br />
                  - Manage, hire, and onboard a team of marketing consultants.<br />
                  - Collaborate with other team leads to solve client challenges and innovate services as needed.<br />
                  - Address client concerns and issues as they arise and escalate when needed.<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor degree required<br />
                  - 4+ years’ experience building comprehensive multi-channel and multi-layer digital marketing
                  campaigns
                  is
                  required<br />
                  - Proven experience finding, analyzing, and assimilating market and customer data into marketing
                  strategies<br />
                  - Creative and innovative with a focus on excellence and execution<br />
                  - Working knowledge of email marketing best practices, and CRM systems such as Salesforce<br />
                  - 2+ years of hands-on experience with the marketing automation<br />
                  - Demonstrate strategic thinking and independent management skills<br />
                  - Solid business acumen, management, and problem-solving skills<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>HUMAN RESOURCES MANAGER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>As part of our commitment to the delivery excellent service, we always advance to improve the way we
                  work
                  along with the products and services we provide. We need Human Resources Manager to perform or
                  oversees
                  the completion of the HR activities for our company, including recruitment, benefits, performance
                  reviews/wage adjustments, and training & organizational development initiatives.</p>
                <p>The HR Manager will develop, implement, and manage company policies and procedures for a real estate
                  investment company and affiliates. The HR Manager keeps Sage Capita management team abreast of changes
                  in
                  employment law as well as ensure legal compliance, and make recommendations that encompass trends and
                  new
                  developments within the human resources function. The HR Manager works independently, makes decisions
                  that
                  are in the best interest of the company and will report directly to the President with a strong
                  dotted-line reporting relationship to the VP (Sales & Marketing).</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Recruit and on-board employees as needed and secure contractual relationships with online part-time
                  workers<br />
                  - Interpret and apply Human Resources policies; aligns business goals with HR policies<br />
                  - Perform employment administration including coordinating review process, compensation programs,
                  policy
                  and program administration, and employee relations activities<br />
                  - Develop, coordinate, and conduct HR training programs<br />
                  - Manage payroll and HR automated systems<br />
                  - Organize and coordinate employee relations activities<br />
                  - Manage Human Resources data retention process<br />
                  - Maintain structure, content, and integrity of employee files, including: personal data,
                  compensation,
                  benefits, payroll, tax data, attendance records, performance reviews and evaluations, personnel
                  documentation and termination data with supporting documentation<br />
                  - Facilitate with management an exceptional work experience applying our core values from employees
                  first
                  interaction with us through retirement<br />
                  - Help shape a competitive compensation strategy within our markets that will assist in employee
                  retention
                  and satisfaction goals
                  <br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - 7+ years of progressive HR experience in a real estate/investment setting<br />
                  - Bachelor’s Degree in related field; Master’s preferred<br />
                  - Strong analytical abilities<br />
                  - Excellent communication and organizational skills<br />
                  - Demonstrates group presentation skills to large audiences<br />
                  - Prior supervisory experience required<br />
                  - Strategic thinker<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>FINANCE & OPERATION MANAGER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>The Finance and Operation Manager will work closely with the President and consultants to offer
                  technical
                  support in understanding the performance of the business and interpret the financial results and KPIs
                  to
                  maximize cash and profitability, including recommending and subsequently implementing changes to the
                  operations. You shall use your excellent management skills coupled with a thorough knowledge of
                  finance
                  and commercial principles to utilize, prepare and analyze operational and financial reports and
                  forecasts
                  for the company.
                </p>
                <p>You shall be in the detail to understand the results, ensuring their accuracy and explain these
                  results
                  to senior management. Following direction from the President and other senior team members, you shall
                  also
                  help transition operational and finance processes to drive efficiencies and help align the business
                  strategies with the corporate mission.</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Work closely with the leadership team to deliver accurate operational and financial reporting,
                  interpret
                  the results and recommend improvements<br />
                  - Develop and implement accounting and reporting systems for project expenditures, and provide
                  guidance
                  and training to project staff and partners on financial procedures<br />
                  - Develop and maintain company forecast and growth models based on subscription revenue combined with
                  complex structured finance deal revenue<br />
                  - Provide ongoing financial administration to all our projects, including the processing of approvals
                  for
                  procurements, consultant agreements, and partner invoices<br />
                  - Produce weekly reports to chart the progress of the business<br />
                  - Use the operational reports to manage the business, reviewing performance with the consultants/team
                  leads<br />
                  - Produce the monthly financials by ensuring all revenue and accrual journal entries are posted, and
                  map
                  local financials to the company format<br />
                  - Work closely with the President and VP(Sales & Marketing) to provide insight and interpretation of
                  the
                  reports and results and KPIs, providing decision support in all aspects of the business<br />
                  - Provide monthly management accounts, ensuring all financial information is accurate and consistent
                  and
                  reported within the Sage Capita timetable<br />
                  - Assessing, contracting with, onboarding and managing partners ranging from lawyers and investment
                  managers to developers and house owners, often without supervision<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor’s degree in one of the following or related fields: Accounting and business administration,
                  international business and, or finance<br />
                  - 5+ years of relevant experience in financial management<br />
                  - Strong quantitative and verbal skills with high attention to detail and a low tolerance for
                  failure<br />
                  - Excellent communicator with the ability to explain your processes, logic, and decisions<br />
                  - Highly organized and can successfully manage multiple work streams across different functions<br />
                  - Strong team player and team leader with excellent demonstrable team management skills<br />
                  - Excellent to advanced skills with Microsoft Excel
                  <br />
                  - Good understanding of financial modeling and structured products
                  <br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>UI/UX DESIGNER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>Sage Capita is revolutionizing the real estate industry with cutting-edge technology to help
                  developers
                  and owners sell property faster, while providing a seamless buying experience for clients through our
                  highly secured platform. We are structured to serve both partners and clients with a single technology
                  platform that empowers them to execute intelligent buying/marketing across online and offline channel.
                  We
                  aim to deliver a frictionless consumer experience, from the initial engagement to a final transaction.
                </p>
                <p>We are looking for an experienced and creative UI/UX Designer to join our team to create and deliver
                  amazing user experiences, which makes your role extremely important for our success and ensuring
                  customer
                  satisfaction and loyalty. You will be designing ideas using various methods and the latest technology
                  to
                  translate high-level requirements into interaction flows and artifacts, and transform them into
                  beautiful,
                  intuitive, and functional user interfaces.
                </p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Collaborate with management and products architect to define and implement innovative solutions for
                  the
                  product direction, visuals and experience<br />
                  - Create wireframes, storyboards, user flows, process flows and site maps to effectively communicate
                  interaction and design ideas<br />
                  - Execute all visual design stages from concept to final hand-off to development<br />
                  - Develop technical and business requirements and always strive to deliver intuitive and user-centered
                  solutions
                  <br />
                  - Combine creativity with an awareness of the design elements<br />
                  - Create prototypes for new product ideas<br />
                  - Test for intuitively and experience<br />
                  - Conduct user research and evaluate user feedback<br />
                  - Establish and promote design guidelines, best practices and standards<br />
                  - Test new ideas before implementing<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor's degree<br />
                  - Minimum of 2 years of experience as a UI-UX Designer or similar role<br />
                  - Minimum of 3 years of creative design experience<br />
                  - Detail-oriented and Critical thinker and Strong conceptualizing and prototyping skills
                  <br />
                  - Strong knowledge of fundamental usability and aesthetic principles to design user interfaces to meet
                  requirements<br />
                  - Problem solver and customer-centered<br />
                  - Knowledge of responsive design strategies<br />
                  - Excellent interpersonal and communication skills<br />
                  - Ability to discuss and explain design options<br />
                  - Solid experience in creating wireframes, storyboards, user flows, and process flows<br />
                  - Proficiency in Photoshop, Illustrator, OmniGraffle, or other design and wire-framing tools<br />
                  - Proficiency in HTML, CSS, and JavaScript for rapid prototyping<br />
                  - Familiarity with Sketch, Framer, InVision, Figma, and other prototyping technologies,
                  preferred<br />
                  - Experience working in an Agile/Scrum development process is a plus<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>SOCIAL MEDIA MANAGER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>The Social Media Manager will work closely with the Senior Marketing Strategist and UX/UI designer to
                  implement social media content and engagement for our brand. You will be responsible for creating
                  original
                  text and video content, managing posts and responding to followers.</p>
                <p>You will manage our company image in a cohesive way to achieve our marketing goals. As a Social media
                  manager, we expect you to be up-to-date with the latest digital technologies and social media trends.
                  You
                  must be self-motivated and committed to providing a positive social experience through timely,
                  personable
                  and professional communication. Ultimately, you should be able to handle our social media presence
                  ensuring high levels of web traffic and customer engagement
                </p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Design and implement social media strategy to align with business goals<br />
                  - Develop, nurture, and maintain our social media platforms (Twitter, Facebook, Instagram, and others)
                  <br />
                  - Find and build relationships with Social Media Influencers<br />
                  - Work with influencers and industry sources to create positive online reviews and build our online
                  reputation<br />
                  - Use statistical analysis to determine the effectiveness of each social media platform and social
                  media
                  campaigns<br />
                  - Provides necessary support in planning, execution, and optimization of digital media campaigns and
                  analytic reports<br />
                  - Design and implement new features to develop brand awareness, like promotions and competitions<br />
                  - Generate, edit, publish and share engaging content daily (e.g. original text, photos, videos and
                  news)
                  <br />
                  - Manage the company blog <br />
                  - Stay up-to-date with current technologies and trends in social media, design tools and applications
                  <br />
                  - Building and maintaining relationships with new and existing customers through prospecting and
                  networking<br />
                  - Keep our social media feeds exciting, trendy, and up to date <br />
                  - Monitor and respond to social media reviews <br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor degree
                  <br />
                  - Extensive experience with social media platforms <br />
                  - Proficient in several social media analytics<br />
                  - Excellent sense of digital design<br />
                  - Excellent communication and writing skills<br />
                  - Strong entrepreneurial spirit and a self-starter<br />
                  - Extensive Experience with Adobe Creative Suite products
                  <br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>VIDEO CREATIVE PRODUCER</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>We are seeking a creative and motivated videographer to produce high-visibility multimedia work and
                  join
                  our fast-growing team to enhance Sage Capita platform, programs and events through video storytelling.
                </p>
                <p>The VP of Sales and Marketing is responsible for managing all brands, channels, and deployment of
                  sales
                  for
                  our company. You will be responsible for developing the strategic sales plans based on Sage Capita’s
                  goals
                  that will promote sales growth and customer satisfaction. Specific responsibilities include business
                  and
                  market development, customer management, management of market research, strategic direction for
                  promotion
                  and advertising, sales growth and customer satisfaction. The VP will also oversee the sales and
                  marketing
                  team members’ daily activity and developmentAs a disruptor in the real estate industry, we look for
                  candidates who thrive in a fast-paced, growth-centric environment, and are hyper focused on enhancing
                  user
                  experience. This role will be a hybrid video production lead and creative project officer role,
                  supporting
                  all video content needs including digital marketing, social media, and advertising, among other key
                  areas.
                  You will combine the duties of Video Producer, Motion Graphics Designer, Graphic Designers to provide
                  superb customer experience.</p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Responsible for the development and production of all original Sage Capita video and audio content,
                  including but not limited to, property focused, interviews with partners, developing a visual Sage
                  Capita
                  brand story, promotional videos, infographics, employee spotlights, presentations, capturing events,
                  with
                  the overall goal of furthering the Sage Capita brand and customer experience<br />
                  - You will be responsible for creating imagery and stories that connect the Sage Capita brand to key
                  audiences. Through video and photos, they will help with marketing and promoting Sage Capita products
                  and
                  services<br />
                  - Manage the creative pipeline and deliverables from initial request to final approval, leveraging
                  internal and external resources to develop impactful creative campaigns for all media types to promote
                  properties, promotions, special events, and other key company initiatives<br />
                  - Production of video and photo shoots, location scouting, budgeting, advising on promotional plans
                  and
                  best practices for maximizing viewer behavior and engagement. This role will work closely with the
                  Senior
                  Marketing Strategist, and Social Media Manager to ensure projects are aligned creatively<br />
                  - Capture Sage Capita brand in live events, testimonials, profiles, and storytelling through video and
                  photography. Transport, set up, and operate equipment, including staging and post-production
                  <br />
                  - Collaborate with Social Media team to ensure planning, brainstorming and execution are always on
                  track
                  in order to create well-designed, best-in-class video content
                  <br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor’s degree is required<br />
                  - 3+ years in photography, video production, and editing<br />
                  - The high degree of technical knowledge in studio field settings<br />
                  - Working knowledge of Nikon/Canon DSLR, Sony, GoPro<br />
                  - Creative mindset with a clear eye for detail and Passion for visual storytelling<br />
                  - Ability to help with social media channels to share images and videos<br />
                  - Experience with studio and location lighting and audio production<br />
                  - Knowledge of still photography techniques using a variety of natural and artificial light
                  sources<br />
                  - Advanced video production and editing skills using Adobe Creative Suite (Premiere Pro, After
                  Effects,
                  Audition)
                  <br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="jobItem">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="54px">
                  <mat-panel-title>
                    <h4>SALES EXECUTIVE</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr />
                <p>Ideal candidates will work with the Senior Sales Strategies to actively seek out and engage prospects
                  for
                  our real estate products. The Sales Executive position requires a highly personable, intelligent
                  individual with the ability to lead digitally focused sales efforts while maintaining an energetic,
                  strategic and entrepreneurial spirit.
                </p>
                <p>At Sage Capita we’re defining a new industry and constantly evolving our business. You must be able
                  to
                  adapt to, and work within, these shifting requirements and embrace the constant changes the position
                  requires. </p>
                <p>
                  <strong>Responsibilities:</strong><br />
                  - Develop strategies to drive qualified, motivated sellers, and buyers to Sage Capita while
                  consistently
                  identifying incremental growth opportunities<br />
                  - You will implement strategic solutions to boost company revenue growth, customer acquisition, and
                  firm
                  profitability<br />
                  - Responsible for lead generation, building the relationship with prospective customers, account
                  profiling
                  and developing the prospective customer into a revenue generating customer<br />
                  - Perpetually ideate and design experiments to elevate Marketing performance<br />
                  - Generate new leads and do follow up on leads for buyers and sellers<br />
                  - Achieve agreed upon sales targets and outcomes within schedule<br />
                  - Advise property buyers and sellers on best practices and pricing strategies<br />
                  - Coordinate sales effort with team members and other departments<br />
                  - Close 1 deal minimum per calendar week<br />
                  - Meet or exceed quarterly sales quota<br />
                  - Provide appropriate sales tracking and reporting as required leveraging Salesforce and Excel
                  <br />
                  - Ability to analyze data and formulate account strategy, execute to plan
                  <br />
                  - Meet with potential clients (Developers and buyers) to determine their needs<br />
                  - Establish customer timeline for completing deal. Ensure signing process is painless and
                  straightforward
                  to ensure customer satisfaction<br />
                </p>
                <p>
                  <strong>Education/Required Skills:</strong><br />
                  - Bachelor’s Degree
                  <br />
                  - Proven experience as a sales consultant<br />
                  - Ability to work to deadlines
                  <br />
                  - Ability to stay focused under time pressure<br />
                  - Excellent selling, communication and negotiation skills<br />
                  - Experience with email and social media marketing is a plus
                  <br />
                  - Digital marketing skills is a plus<br />
                </p>
                <div class="right"><a href="/join#apply"><button class="filled">APPLY</button></a></div>
                <div class="clearfix"></div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </article>
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
    </div>
  </div>
</section>
<section id="joinFormContainer">
  <div class="container" id="apply">
    <h3>APPLY FOR THIS POSITION</h3>
    <p>{{formMessage}}</p>
    <ul *ngIf="joinForm.touched && !joinForm.valid">
      <li *ngIf="joinFormControls.full_name.touched && joinFormControls.full_name?.errors?.required"><small>
          Full name is required.
        </small></li>
      <li *ngIf="joinFormControls.email.touched && joinFormControls.email.errors?.required"><small>
          Email is required.
        </small></li>
      <li *ngIf="joinFormControls.email.touched && joinFormControls.email.errors?.email"><small>
          Email address is invalid.
        </small></li>
      <li *ngIf="joinFormControls.phone.touched && joinFormControls.phone?.errors?.required"><small>
          Phone number is required.
        </small></li>
      <li *ngIf="joinFormControls.language.touched && joinFormControls.language?.errors?.required"><small>
          Language is required.
        </small></li>
      <li *ngIf="joinFormControls.country.touched && joinFormControls.country?.errors?.required"><small>
          Country is required.
        </small></li>
      <li *ngIf="joinFormControls.role.touched && joinFormControls.role?.errors?.required"><small>
          Role is required.
        </small></li>
      <li><small *ngIf="joinFormControls.message.touched && joinFormControls.message?.errors?.required">
          Message is required.
        </small></li>
      <li
        *ngIf="joinFormControls.privacy_policy_check.touched && joinFormControls.privacy_policy_check?.errors?.required">
        <small>
          You must agree to our <a href="#" routerLink="privacy_policy"><strong>privacy policy</strong></a>.
        </small></li>
    </ul>
    <form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
      <div id="contactElementContainer">
        <div class="contactElement">
          <input type="text" placeholder="*FULL NAME" formControlName="full_name" required />
        </div>
        <div class="contactElement">
          <input type="text" placeholder="*EMAIL" formControlName="email" required />
        </div>
        <div class="contactElement">
          <input type="text" placeholder="*PHONE" formControlName="phone" required />
        </div>
        <div class="contactElement selectChevDownElement">
          <select formControlName="role" required>
            <option disabled value="">*ROLE</option>
            <option value="VP (Sales & Marketing)">VP (SALES & MARKETING)</option>
            <option value="General Counsel & Compliance Officer">GENERAL COUNSEL & COMPLIANCE OFFICER</option>
            <option value="Senior Marketing Strategist">SENIOR MARKETING STRATEGIST</option>
            <option value="Human Resources Manager">HUMAN RESOURCES MANAGER</option>
            <option value="Finance & Operation Manager">FINANCE & OPERATION MANAGER</option>
            <option value="UI/UX Designer">UI/UX DESIGNER</option>
            <option value="Social Media Manager">SOCIAL MEDIA MANAGER</option>
            <option value="Video Creative Producer">VIDEO CREATIVE PRODUCER</option>
            <option value="Sales Executive">SALES EXECUTIVE</option>
          </select>
        </div>
        <div class="contactElement selectChevDownElement">
          <select formControlName="country" required>
            <option disabled value="">*COUNTRY</option>
            <option [value]="country.code" *ngFor="let country of countries">{{country.name}}</option>
          </select>
        </div>
        <div class="contactElement selectChevDownElement">
          <select formControlName="language" required>
            <option disabled value="">*LANGUAGE</option>
            <option [value]="language.code" *ngFor="let language of languages">{{language.name}}</option>
          </select>
        </div>
      </div>
      <div class="contactElement">
        <textarea placeholder="*MESSAGE" formControlName="message" required></textarea>
      </div>
      <div id="joinFormButton" class="flexRowWrap">
        <div class="first">
          <div id="joinFormInnerButton" class="flexRowWrap">
            <input type="file" accept="application/pdf" hidden="true" (change)="handleFileInput($event.target.files)"
              #file />
            <div class="first"><button (click)="file.click()">ATTACH</button></div>
            <div class="second"><button disabled class="disabled">UPLOAD YOUR CV</button></div>
          </div>
        </div>
        <div class="second">
          <p><label>
              <input type="checkbox" formControlName="privacy_policy_check">
              According to Regulation (EU) 2016/679, I declare that I have read the <a href="#"
                routerLink="/privacy_policy"><strong>PRIVACY
                  POLICY</strong></a> and consent to the processing of my personal data for the purposes of research and
              selection of personnel</label>
          </p>
        </div>
        <div class="third">
          <button [disabled]="!joinForm.valid || !cv || isSubmitting">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</section>
