<section id="joinContainer">
  <div class="container">
    <div id="joinColsContainer" class="flexRowWrap">
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
      <article>
        <h1>Responsible and responsive; constant and courageous; independent and innovative. We are looking for
          uniqueness</h1>
        <hr />
        <div>
          <video width="100%" poster="../../assets/home-carousel/slide_1.jpg" controls>
            <source src="https://cdn-maps.lionard.com//Allegati/LIONARD_RIF5118_720.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <hr />
        <p>SageCapita Luxury Real Estate is a leading company in the brokerage of luxury estates in Nigeria and it is in
          continuous growth. For this reason, we are always looking for serious and qualified professionals for our
          team.
          For people who share our professional and motivational mission and who are able to manage relationships of the
          highest level in this field. The role is delicate and strategic. It requires precision, great attention to
          detail,
          pragmatism and the ability to work with style on complex business relations. Look at our open positions and
          select
          the one that fits your professional profile. You can upload your CV only in .doc or .pdf formats. It is also
          possible to send a <a href="mailto:info@sagecapita.com">spontaneous application</a>. If SageCapita Luxury Real
          Estate
          is interested, you will be contacted for a first interview.</p>
        <button>COMPANY</button>
        <div class="jobContainer">
          <h4>LUXURY REAL ESTATE ADVISOR</h4>
          <hr />
          <p>Nigeria<br />SageCapita Luxury Real Estate S.p.A. - It’s a Made in Nigeria Brand, a
              consolidated
              leader in the highest field of its business market - develops a selection and enhancement of Top
              Properties
              in
              Top Location, able to meet the demands of a high-profile and demanding international clientele.
          </p>
          <p>The SageCapita professional, thanks to an innovative and recognized method, guarantees to its customers
              an
              excellent service, through the intermediation of the exclusive luxury real estate and / or high
              historical-artistic-cultural value.</p>
          <p>Due to the exponential growth of its business (with trend of purchase requests YTD + 40%) and its
              organization,
              wanting to enhance the Luxury Acquisition Department it’s actually looking for this role:<br />Luxury Real
              Estate Sales Advisor:</p>
          <p>
              Role:<br />
              - Exclusive assignment of Top Clients and Top Properties portfolio;<br />
              - Buying agent activity in realizing the matching between Top Client need and Top Properties
              solution;<br />
              - Managing the requests of each Top Client, in particular following and managing the entire sales
              negotiation process;<br />
              - Improving the quality of service to gain customer loyalty and attract new customer.
            </p>
          <p>
              Skills:<br />
              - Attitude to build high-level relationships;<br />
              - Problem solving, negotiation;<br />
              - Determined, Entrepreneurial and mindset for achievement;<br />
              - Professional ethics, resilience and integrity;<br />
              - Consolidated background in the luxury real estate or demonstrated sales background; however we wish to
              get in touch with the best candidates with high potential compared to this following requirements;<br />
              - Fluent English; second preferential languages ​​Russian and German.
            </p>
          <p>
              SageCapita workplace:<br />
              - Our Offices are positioned in exclusive locations and in line with the high target of reference;<br />
              - High energy, productivity driven environment;<br />
              - STS&reg; management software (SageCapita Technical System);<br />
              - Operational and marketing tools at the highest professional levels of the Real Estate industry
              (customized management, Be SageCapita magazine);<br />
              - Office Location and work station available daily, professional engagement with VAT number and royalties
              able to meet the most qualified and performing candidate’s needs.
            </p>
          <p>Office Locations - Nigeria, USA (footer)</p>
        </div>
      </article>
    </div>
  </div>
</section>
<section id="joinFormContainer">
  <div class="container">
    <h3>APPLY FOR THIS POSITION</h3>
    <p>Fill in the form below to apply for one of our open positions. You can also send us your CV for a spontaneous
      application</p>
    <form>
      <div id="contactElementContainer">
        <div class="contactElement">
          <input type="text" placeholder="*FIRST NAME" />
        </div>
        <div class="contactElement">
          <input type="text" placeholder="*LAST NAME" />
        </div>
        <div class="contactElement">
          <input type="text" placeholder="*EMAIL" />
        </div>
        <div class="contactElement">
          <input type="text" placeholder="*TELEPHONE" />
        </div>
        <div class="contactElement selectChevDownElement">
          <select>
            <option disabled>*LANGUAGE</option>
            <option>ENGLISH</option>
            <option>ITALINO</option>
            <option>FRANCIAS</option>
            <option>ESPANOL</option>
            <option>DEUTSCH</option>
          </select>
        </div>
        <div class="contactElement selectChevDownElement">
          <select>
            <option disabled>*ROLE</option>
            <option>REAL ESTATE ADVISOR</option>
            <option>LUXURY ACQUISITION CONSULTANT</option>
            <option>LUXURY ACQUISITION ADVISOR</option>
            <option>HR PARTNER</option>
            <option>SALES DIRECTOR</option>
            <option>SPONTANEOUS APPLICATION</option>
          </select>
        </div>
      </div>
      <div class="contactElement">
        <textarea placeholder="*MESSAGE"></textarea>
      </div>
      <div id="joinFormButton" class="flexRowWrap">
        <div class="first">
          <div id="joinFormInnerButton" class="flexRowWrap">
            <div class="first"><button>ATTACH</button></div>
            <div class="second"><button disabled class="disabled">UPLOAD YOUR CV</button></div>
          </div>
        </div>
        <div class="second">
          <p>
            <input type="checkbox">
             According to Regulation (EU) 2016/679, I declare that I have read the <a href="#"><strong>PRIVACY POLICY</strong></a> and consent to the processing of my personal data for the purposes of research and
              selection of personnel
          </p>
        </div>
        <div class="third">
          <button>SEND</button>
        </div>
      </div>
    </form>
  </div>
</section>
