#joinContainer {
  padding-bottom: 1.2em;
}

video {
  margin: 0 auto;
  display: table;
}

#joinColsContainer>article {
  padding: 0 2em 1em 2em;
}

#joinColsContainer>article,
#joinColsContainer>aside {
  width: 100%;
  margin-top: 1em;
  box-sizing: border-box;
}

h4 {
  font: 22px "Libre Baskerville";
  font-weight: bold;
  margin-bottom: 0;
}

hr {
  border-width: 0;
  border-top-width: 1px;
  margin: 1.2em 0;
}

/* #joinColsContainer>article>button {
  height: 3em;
  width: 100%;
  margin: 2.4em 0;
  border-color: rgb(4, 37, 59);
  color: rgb(4, 37, 59);
}

#joinColsContainer>article>button:hover {
  background: rgb(4, 37, 59);
  border-color: rgb(4, 37, 59);
  color: #fff;
} */

#joinFormInnerButton button.disabled {
  background-color: #f4f4f5;
  color: #aaa;
  border-color: #aaa;
  pointer-events: none;
}

#joinColsContainer>article>h1 {
  margin: 0;
}

#jobContainer {
  margin-top: 1em;
}

mat-panel-title>h4 {
  margin: .1rem 0 auto;
  font-size: 16px;
}

.jobItem {
  margin: 1rem 0;
}

.jobItem hr {
  margin: .2rem 0 1.2rem 0;
}

.jobItem button {
  height: 3em;
  width: auto;
  margin: 1rem 0;
  padding: 0 3rem;
}

.jobItem button.filled {
  background-color: rgb(4, 37, 59);
  border-color: rgb(4, 37, 59);
  color: #fff;
}

.jobItem button.filled:hover {
  background-color: #fff;
  border-color: rgb(4, 37, 59);
  color: rgb(4, 37, 59);
}

#jobContainer p {
  line-height: 1.4em;
}

#joinFormButton button,
#joinFormButton p {
  margin: 0;
  margin-top: .5em;
}

#joinFormButton button,
#joinFormButton>div,
#joinFormInnerButton>div {
  width: 100%;
}

a {
  color: rgb(4, 37, 59);
}

#joinFormContainer {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background: #f4f4f5;
  text-align: center;
  padding: .9em 1em 2em 1.5em;
  color: rgb(4, 37, 59);
}

#joinFormContainer>.container>p {
  margin: 0;
}

#contactElementContainer {
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  align-content: space-between;
  height: 100%;
  padding: 1em 0 0 0;
  overflow: hidden;
}

.contactElement>select {
  border: 1px solid #CCC;
}

.contactElement {
  margin-top: .5em;
}

.contactElement>input::-webkit-input-placeholder,
.contactElement>input:-ms-input-placeholder,
.contactElement>input::-moz-placeholder,
.contactElement>input::placeholder,
.contactElement>select {
  color: rgb(1, 12, 20);
  font-weight: bold;
}

.contactElement>input,
.contactElement>select,
.contactElement>textarea {
  padding: .9em;
  border-color: #ccc;
  background-color: #fff;
}

.contactElement>input,
.contactElement>select,
.contactElement>textarea,
.contactElement>textarea,
#contactElementContainer>.contactElement {
  width: 100%;
}

.contactElement>textarea {
  height: 6.7em;
}

#joinFormContainer button {
  /* width: auto; */
  /* padding: .8em 2.5em; */
  height: 3.2em;
}

#joinFormContainer button {
  background: rgb(4, 37, 59);
  color: #fff;
  border-color: rgb(4, 37, 59);
}

#joinFormContainer button:hover {
  background: #fff;
  color: rgb(4, 37, 59);
}

@media only screen and (min-width:961px) {
  #joinColsContainer>aside {
    width: 28%;
  }

  #joinColsContainer>article {
    width: 68%;
  }

  #joinColsContainer>article>button {
    width: 35%;

  }

  #contactElementContainer {
    height: 6em;
  }

  #contactElementContainer>.contactElement {
    width: 31.5%;
  }

  #joinFormInnerButton>div.first {
    width: 39%;
  }

  #joinFormInnerButton>div.second {
    width: 57.5%;
  }

  #joinFormButton>div.first {
    width: 25%;
  }

  #joinFormButton>div.second {
    width: 56%;
  }

  #joinFormButton>div.third {
    width: 9%;
  }

  #joinColsContainer {
    flex-direction: row-reverse;
  }

  mat-panel-title>h4 {
    font-size: 22px;
  }
}
