#propertyContact {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background: #f4f4f5;
  text-align: center;
  padding: .9em 1em;
  color: #064A77;
}

#propertyContact p {
  margin: 0;
}

#contactElementContainer {
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 100%;
  padding: 1em 0 0 0;
  overflow: hidden;
}

#contactElementContainer>.contactElement{
  margin: .3em .5em;
}

.contactElement>select {
  border: 1px solid #CCC;
}

.contactElement {
  margin-top: .5em;
}

.contactElement>input::-webkit-input-placeholder,
.contactElement>input:-ms-input-placeholder,
.contactElement>input::-moz-placeholder,
.contactElement>input::placeholder,
.contactElement>select {
  color: rgb(1, 12, 20);
  font-weight: 700;
}

.contactElement>input,
.contactElement>select,
.contactElement>textarea {
  padding: .9em;
  border-color: #ccc;
  background-color: #fff;
  width: 100%;
}

.contactElement>input,
.contactElement>select{
  height: 3.1em;
}

.contactElement>textarea {
  height: 6.9em; 
}

#propertyContact h3{
  margin-bottom: .5em;
}

#propertyContact button {
  width: auto;
  padding: .8em 2.5em;
  height: auto;
  margin-top: 1.5em;
}

#propertyContact button {
  background: #064A77;
  color: #fff;
  border-color: #064A77;
}

#propertyContact button:hover {
  background: #fff;
  color: #064A77;
}

@media only screen and (min-width:961px) {
  #contactElementContainer {
    height: 6.5em;
  }

  #propertyContact {
    padding-left: 6em;
    padding-right: 6em;
  }
  
}
