<section id="propertyContact">
  <div class="container">
      <h3>CONTACT</h3>
      <p>Leave your request and we'll contact you in the next 24 hours.</p>
      <form [formGroup]="contactForm">
        <div id="contactElementContainer">
          <div class="contactElement">
            <input type="text" placeholder="*FIRST NAME" formControlName="first_name" required />
          </div>
          <div class="contactElement">
            <input type="text" placeholder="*LAST NAME" formControlName="last_name" required />
          </div>
          <div class="contactElement">
            <input type="text" placeholder="*EMAIL" formControlName="email" required />
          </div>
          <div class="contactElement">
            <input type="text" placeholder="*PHONE" formControlName="phone" required />
          </div>
          <div class="contactElement selectChevDownElement">
            <select formControlName="language" required>
              <option disabled>*LANGUAGE</option>
              <option>ENGLISH</option>
              <option>ITALINO</option>
              <option>FRANCIAS</option>
              <option>ESPANOL</option>
              <option>DEUTSCH</option>
            </select>
          </div>
          <div class="contactElement selectChevDownElement">
            <select formControlName="country" required>
              <option disabled>*COUNTRY</option>
              <option>ENGLAND</option>
              <option>ITALIA</option>
              <option>FRANCE</option>
              <option>ESPANA</option>
              <option>DEUTSCHLAND</option>
            </select>
          </div>
          <div class="contactElement">
            <textarea formControlName="message" placeholder="* MESSAGE" required></textarea>
          </div>
        </div>
        <p>
          <input type="checkbox">
          I declare that i have read the <strong>privacy policy</strong> and agree to the use and processing of data
        </p>
        <button>SEND</button>
      </form>
  </div>
</section>
