<section id="propertyGroups">
    <h3><strong>SEARCH BY</strong></h3>
    <div id="propertyGroupsBtns">
      <button class="active">TOP LOCATION</button>
      <button>LIFESTYLE</button>
      <button>TYPE</button>
    </div>
    <div id="propertyGroupsList">
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
      <div class="propertyGroupsItem">
        <img src="../assets/property-group.jpg" alt="property groups" />
        <div class="propertyGroupsItemContent">
          <h2>Capri</h2>
          <hr />
          <h4>21 PROPERTIES</h4>
          <button>SEE ALL</button>
        </div>
        <div class="propertyGroupsItemOverlay"></div>
      </div>
    </div>
  </section>