<section id="propertyGroups">
    <h3><strong>SEARCH BY</strong></h3>
    <div id="propertyGroupsBtns">
      <button [ngClass]="{'active': activeGroup === 'top_cities'}" (click)="selectPropertyGroup('top_cities', 'city');">TOP CITIES</button>
      <button [ngClass]="{'active': activeGroup === 'top_states'}" (click)="selectPropertyGroup('top_states', 'state');">TOP STATES</button>
      <button [ngClass]="{'active': activeGroup === 'top_types'}" (click)="selectPropertyGroup('top_types', 'type');">TYPES</button>
    </div>
    <div id="propertyGroupsList">
      <div class="propertyGroupsItem" *ngFor="let propertyGroup of propertyGroups">
        <app-property-group [propertyGroup]="propertyGroup" [propertyClass]="activeClass"></app-property-group>
      </div>
    </div>
  </section>