#propertyGroups {
  text-align: center;
  /*color: rgb(4, 37, 59);*/
}

#propertyGroupsBtns button:not(.active):hover {
  color: #fff;
  background: rgb(4, 37, 59);
}

#propertyGroupsBtns button {
  width: 15em;
  display: inline;
  margin: auto;
  padding: .5em 0;
  border-color: rgb(4, 37, 59);
  /*color: rgb(4, 37, 59);*/
  margin-bottom: .5em;
}

#propertyGroupsBtns button.active {
  background: rgb(4, 37, 59);
  color: #fff;
}

#propertyGroupsBtns button:last-child {
  margin-right: 0;
}

#propertyGroupsList {
  display: flex;
  flex-flow: row wrap;
}

#propertyGroupsList {
  justify-content: space-around;
}

#propertyGroupsList {
  margin: 1em 0;
}

#propertyGroupsList>.propertyGroupsItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: .5em;
  background-color: rgb(4, 37, 59);
}

/* .propertyGroupsItem img {
  width: 100%;
} */

.propertyGroupsItem>img {
  height: 100%;
  width: auto;
}

@media only screen and (min-width:641px) {
  #propertyGroupsList>.propertyGroupsItem {
    width: 49%;
  }
}

@media only screen and (min-width:961px) {
  #propertyGroupsList>.propertyGroupsItem {
    width: 16%;
    height: 24em;
  }

  #propertyGroupsBtns button {
    margin-right: 1.5em;
  }
}

@media only screen and (min-width: 1900px) {
  /* #propertyGroupsList>.propertyGroupsItem {
    height: 24em;
  } */

  /* .propertyGroupsItem img {
    height: auto;
    width: 100%;
  } */
}
