<section id="searchBand">
  <div class="container">
    <app-property-search></app-property-search>
  </div>
</section>
<section id="searchSection">
  <div class="container">
    <h1>Luxury property for sale in Nigeria</h1>
    <h2><strong>1592 TOTAL PROPERTIES</strong></h2>
    <form>
      <p><small><strong>ORDER BY</strong></small></p>
      <div id="searchSectionFormContainer" class="flexRowWrap">
        <div class="searchSectionFormContainerElement selectChevDownElement">
          <select name="criteria">
            <option value="" disabled>SELECT</option>
            <option value="price_up">PRICE ⮝</option>
            <option value="price_down">PRICE ⮟</option>
            <option value="surface_area_up">SURFACE AREA ⮝</option>
            <option value="surface_area_down">SURFACE AREA ⮟</option>
            <option value="latest_acquisitions">LATEST ACQUISITIONS ⮝</option>
          </select>
          <select name="numberPerPage">
            <option value="10">10 PER PAGE</option>
            <option value="20">20 PER PAGE</option>
            <option value="50">50 PER PAGE</option>
            <option value="100">100 PER PAGE</option>
          </select>
        </div>
        <div class="searchSectionFormContainerElement">
          <app-paginator></app-paginator>
        </div>
      </div>
    </form>
  </div>
</section>
<section id="searchResults">
  <div class="container">
    <div id="searchResultsContainer" class="flexRowWrap">
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Stunning Villa Of Domenico Dolce And Stefano Gabbana In Stromboli</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>ON APPLICATION</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody3btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
            <button>PLAY VIDEO &#9658;</button>
          </div>
        </div>
      </article>
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Wonderful Villa For Sale In Monte Argentario</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>5M TO 10M</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody2btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
          </div>
        </div>
      </article>
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Stunning Villa Of Domenico Dolce And Stefano Gabbana In Stromboli</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>ON APPLICATION</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody3btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
            <button>PLAY VIDEO &#9658;</button>
          </div>
        </div>
      </article>
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Stunning Villa Of Domenico Dolce And Stefano Gabbana In Stromboli</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>ON APPLICATION</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody3btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
            <button>PLAY VIDEO &#9658;</button>
          </div>
        </div>
      </article>
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Wonderful Villa For Sale In Monte Argentario</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>5M TO 10M</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody2btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
          </div>
        </div>
      </article>
      <article>
        <div class="searchResultsImgContainer">
          <img src="../../assets/home-carousel/slide_1.jpg" alt="Property 1" />
        </div>
        <div class="searchResultsBody">
          <div class="searchResultsBodyTopText">
            <p class="left">Stunning Villa Of Domenico Dolce And Stefano Gabbana In Stromboli</p>
            <div class="right"><img src="../../assets/star-white.png" alt="Favorite" /></div>
            <div class="clearfix"></div>
          </div>
          <p>ON APPLICATION</p>
          <div class="searchResultsBodyBottomText">
            <p class="left"><small><strong>AREA IN METRES: 479 sqm</strong></small></p>
            <p class="right"><small><strong>CODE: 4765</strong></small></p>
            <div class="clearfix"></div>
          </div>
          <div class="searchResultsBody3btn flexRowWrap">
            <button class="filled">VIEW PROPERTY</button>
            <button>ASK FOR INFORMATION</button>
            <button>PLAY VIDEO &#9658;</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div style="float: right;margin-bottom: 2em;">
      <app-paginator></app-paginator>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
