<section id="servicesContainer">
  <div class="container">
    <div class="flexRowWrap">
      <article>
        <div class="serviceItem">
          <h1>MARKETING</h1>
          <hr />
          <p>Partner with Sage Capita and engage with the majority of your potential clients in the online space. We
            provide custom digital marketing services for real estate companies and brokerages. We are well structured
            to
            build a powerful reputation for your company through robust digital presence, and help you close many deals.
            Sage Capita is an established online marketing company, and we provide custom digital optimization
            strategies
            for residential and commercial real estate companies.</p>
          <p>Schedule a consultation with our digital marketing team today and Learn more about how we can boost your
            real
            estate company’s online presence.</p>
          <p>Our Real Estate Marketing Services</p>
        </div>
        <div class="serviceItem">
          <h1>REAL ESTATE ADVISORY</h1>
          <hr />
          <p><em>Trust us to Provide you with valuable insights and expert recommendations </em></p>
          <p>Sage Capita team is structured with professionals with extensive industry experience and unmatched
            consulting
            capabilities to help you meet your investing and personal residential needs. Our substantial knowledge of
            the
            real estate industry allows us to help investors execute their business plans. Our clients include real
            estate
            operating companies, third-party fee managers, investment managers and global real estate fund managers.
            Sage
            Capita is poised to provide you with valuable insights and expert recommendations. Spanning the enterprise,
            our services demonstrate our depth of industry knowledge and breadth of technical experience.</p>
          <p>Key Services</p>
          <ul>
            <li><p>Comprehensive property site inspections. * Lease and document abstraction and review </p></li>
            <li><p>Property-level due diligence. * Income, reimbursements, and expense analysis</p></li>
            <li><p>Working with fund deal teams and portfolio company management </p></li>
            <li><p>Appraisal reviews and outsourced appraisal management function</p></li>
            <li><p>Feasibility studies and market analysis reports</p></li>
            <li><p>Revenue optimization and cost reduction</p></li>
          </ul>
        </div>
        <div class="serviceItem">
          <h1>PROPERTY MANAGEMENT </h1>
          <hr />
          <p>At Sage Capita, our focus is on exceptional management of properties both residential and commercial. Our
            property management’s professional services include: </p>
          <ul>
            <li><p>Comprehensive marketing and advertising</p></li>
            <li><p>Tenant screening and selection</p></li>
            <li><p>Full-service leasing</p></li>
            <li><p>Timely rent collection</p></li>
            <li><p>Regular inspections</p></li>
            <li><p>Cost-effective and reliable maintenance</p></li>
            <li><p>Comprehensive accounting</p></li>
            <li><p>Regular communication and updates</p></li>
          </ul>
        </div>
      </article>
      <aside>
        <app-info-button-aside></app-info-button-aside>
      </aside>
    </div>
  </div>
</section>
<app-exclusive-properties></app-exclusive-properties>
