#servicesContainer article h1{
    margin: 0;
  }
  
  hr {
    border-width: 0;
    border-top-width: 1px;
    margin: 1em 0;
  }

  #servicesContainer aside, #servicesContainer article {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
  }

  #servicesContainer article {
    padding: 0 2em;
  }
  
  li{
    list-style-type: circle;
  }

  li>p{
    margin: .5rem;
  }

  .serviceItem{
    margin-bottom: 2rem;
  }
  /* Services tab */
  #servicesContainer .services{
    display: flex;
    flex-wrap: wrap
  }
  #servicesContainer .services .service{
    max-width: 230px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.08);
    text-align: center;
    margin: 5px ;
  }
  #servicesContainer .services .service svg{
    fill: #b1915d
  }
  #servicesContainer .services .service .service-title{
    margin: 8px 0px;
  }
  #servicesContainer .services .service .description{
   margin: 5px 0px;
  }






  @media only screen and (min-width:961px) {
    #servicesContainer aside{
      width: 28%;
    }
    
    #servicesContainer article{
      width: 68%;
    }

    #servicesContainer>.container>.flexRowWrap{
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: 768px){
    #servicesContainer .services{
      flex-direction: column
    }
    #servicesContainer .services .service{
      margin: 10px 0px;
      max-width: 100%
    }
  }
  