<div id="videoGalleryListContainer">
  <table>
    <tbody>
      <tr *ngFor="let property of properties">
        <th>
          <div><img [src]="'../assets/' + property.photo" alt="Property thumbnail" /></div>
        </th>
        <td>
          <p><strong><small>{{property.city | titlecase}}</small></strong></p>
          <p><small>{{property.description_text | slice:0:72}}...</small></p>
          <div class="videoGalleryListBtns">
            <a href="#" [routerLink]="['/properties/' + property.code]"><button class="filled">SHOW</button></a>
            <a [href]="property.video"><button>FULL VIDEO</button></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a href="#" [routerLink]="['/gallery']"><button class="filled">SEE ALL</button></a>
