<h1 mat-dialog-title><strong>PROPERTY CONTACT</strong></h1>
<small *ngIf="formMessage">{{formMessage}}</small>
<div mat-dialog-content>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="formRow">
      <input type="text" placeholder="*FIRST NAME" formControlName="first_name" required [readonly]="isSubmitting"
        cdkFocusInitial />
      <small *ngIf="contactFormControls.first_name.touched && contactFormControls.first_name?.errors?.required">
        First name is required.
      </small>
    </div>
    <div class="formRow">
      <input type="text" placeholder="*LAST NAME" formControlName="last_name" required [readonly]="isSubmitting"/>
      <small *ngIf="contactFormControls.last_name.touched && contactFormControls.last_name?.errors?.required">
          Last name is required.
      </small>
    </div>
    <div class="formRow">
      <input type="text" placeholder="*EMAIL" formControlName="email" required [readonly]="isSubmitting"/>
      <small *ngIf="contactFormControls.email.touched && contactFormControls.email.errors?.required">
        Email is required.
      </small>
      <small *ngIf="contactFormControls.email.touched && contactFormControls.email.errors?.email">
        Email address is invalid.
      </small>
    </div>
    <div class="formRow">
      <input type="text" placeholder="*PHONE" formControlName="phone" required [readonly]="isSubmitting" />
      <small *ngIf="contactFormControls.phone.touched && contactFormControls.phone?.errors?.required">
        Phone number is required.
      </small>
    </div>
    <div class="formRow">
      <select formControlName="language" required>
        <option value="" disabled>*LANGUAGE</option>
        <option [value]="language.code" *ngFor="let language of languages">{{language.name}}</option>
      </select>
      <small *ngIf="contactFormControls.language.touched && contactFormControls.language?.errors?.required">
        Language is required.
      </small>
    </div>
    <div class="formRow">
      <select formControlName="country" required>
        <option value="" disabled>*COUNTRY</option>
        <option [value]="country.code" *ngFor="let country of countries">{{country.name}}</option>
      </select>
      <small *ngIf="contactFormControls.country.touched && contactFormControls.country?.errors?.required">
        Country is required.
      </small>
    </div>
    <div class="formRow">
      <textarea formControlName="message" placeholder="* MESSAGE" required [readonly]="isSubmitting"></textarea>
        <small *ngIf="contactFormControls.message.touched && contactFormControls.message?.errors?.required">
          Message is required.
        </small>
    </div>
    <p>
      <input type="checkbox" formControlName="privacy_policy_check">
      I declare that i have read the <strong>privacy policy</strong> and agree to the use and processing of data
      <small
      *ngIf="contactFormControls.privacy_policy_check.touched && contactFormControls.privacy_policy_check?.errors?.required">
      You must agree to our privacy policy.
    </small>
    </p>
  </form>
</div>
<div class="flexRowWrap" mat-dialog-actions>
  <button mat-button class="outline" [mat-dialog-close]="null">CLOSE</button>
  <button mat-button [disabled]="!contactForm.valid || isSubmitting" (click)="onSubmit()">SEND</button>
</div>
