h1 {
  margin: 0;
  text-align: center;
  color: rgb(4, 37, 59);;;;
}

input:not([type="checkbox"]),
textarea {
  display: block;
}

input:not([type="checkbox"]), select, textarea {
  width: 100%;
}

button {
  width: 49%;
  margin: 0;
}

button+button{
    background-color: rgb(4, 37, 59);;;;
    color: #fff;
}

input:not([type="checkbox"]),
button,
select {
  height: 2.5em;
}

textarea {
  height: 7.5em;
}
