/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  letter-spacing: .02em;
}

h1,h2,h3,h4,h5,h6,a, p, button{
  color: rgb(4, 37, 59);
}
 
.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right-text{
  text-align: right;
}

.center-text{
  text-align: center;
}

.muted{
  color: #A5A8A9;
}

input:not([type="checkbox"]),
button,
select,
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  vertical-align: middle;
  /* This is optional but it makes legacy IEs look better */
  background: none;
  border: 1px solid;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

input:not([type="checkbox"]),
select,
textarea {
  padding: 0 .7em;
  height: 3em;
}

input:not([type="checkbox"]),
select {
  width: 20em;
}

textarea {
  width: 20.5em;
  padding: .7em;
}

/*.selectChevDownElement>*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./assets/chevron-down.png) 96% / 1em no-repeat #EEE;
  cursor: pointer;
}

/* CAUTION: Internet Explorer hackery ahead */
/*.selectChevDownElement>*/
select::-ms-expand {
  display: none;
  /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  /*.selectChevDownElement>*/
  select {
    background: none\9;
    padding: 5px\9;
  }
}

input:not([type="checkbox"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

button {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-weight: 700;
}

button[disabled] {
  border-color: #bbb !important;
  background-color: #bbb !important;
  pointer-events: none;
  color: #888 !important;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
}

.verticalAlign {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.flexRowWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.positionFixed {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.formRow {
  margin-top: 1em;
}

.colM6, .colM4, .colM2, .colM3, .colM8, .colM10{
  width: 100%;
}

.ng-invalid:not(form).ng-touched {
  border-color: #a94442 !important;
  /* red */
}

p {
  font-size: 14px;
}

h1 {
  font-size: 28px;
}

h2,
h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

input,
select,
textarea {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

input,
textarea{
  color: rgb(4, 37, 59);
}

select{
  color: rgb(4, 37, 59, .5);
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
input::placeholder,
textarea::placeholder{
  color: rgb(4, 37, 59, .5);
}

h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
  margin: 0 auto;
  display: table;
}

@media (min-width:961px) {
  .colM6{
    width: 49%;
  }

  .colM4{
    width: 32%;
  }

  .colM2{
    width: 18%;
  }

  .colM3{
    width: 24%;
  }

  .colM8{
    width: 66%;
  }

  .colM10{
    width: 78%;
  }
}

@media only screen and (min-width:961px) {
  /* .container {
    width: 95%;
  } */
}

@media only screen and (min-width:1025px) { 
  .container {
    width: 95%;
  }
 }

@media only screen and (min-width:1281px) { 
  .container {
    width: 90%;
  }
 }

 @media screen and (min-width: 1400px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 70%;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 60%;
  }
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
