#propertySearchContainer {
  position: relative;
  top: -2.5em;
  z-index: 111;
}

#propertySearchHeading {
  padding: .8em 1.2em 0 1.2em;
  background: #064A77;
  color: #fff;
  display: block;
  margin-left: 0;
}

#propertySearchHeading>img {
  height: 1.5em;
  vertical-align: middle;
  cursor: pointer;
}

#propertyBest,
#exclusivePropertiesContainer,
#latestAcquisitionsContainer {
  padding: 2em 0 .6em 0;
}

#exclusivePropertiesContainer,
#latestAcquisitionsContainer {
  padding-bottom: 3em;
}

#propertyBest {
  margin-top: -2.5em;
}

#propertyBest h3,
#exclusivePropertiesContainer h3,
#latestAcquisitionsContainer h3 {
  text-align: center;
  color: rgb(1, 23, 37);
}

.propertyBestProperties>article {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
}

.propertyBestProperties .propertyStar {
  position: absolute;
  top: 1.3em;
  right: 1.3em;
  cursor: pointer;
  height: 25px;
}

#propertyBest>h3,
#exclusivePropertiesContainer>h3,
#latestAcquisitionsContainer>h3 {
  margin: 0 0 1.4em 0;
  color: rgb(1, 23, 37);
}

.propertyBestProperties .propertyImage {
  width: 100%;
}

.propertyDataContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.propertyData {
  position: relative;
}

.propertyDataContent {
  position: relative;
  z-index: 1;
  top: 0;
  padding: .8em;
}

.propertyDataOverlay {
  background: #064A77;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.propertyDataStatus,
.propertyDataLocation,
.propertyDataTitle,
.propertyDataCode {
  margin: .1em 0;
  color: #fff;
}

.propertyDataStatus,
.propertyDataLocation,
.propertyDataCode {
  text-transform: uppercase;
}

.propertyDataCode {
  text-align: right;
}

.propertyDataTitle {
  text-transform: capitalize;
}

.propertyDataLocation,
.propertyDataCode {
  font-weight: 700;
}

#propertyBest>button,
#exclusivePropertiesContainer>button,
#latestAcquisitionsContainer>button {
  width: auto;
  padding: .6em 5em;
  height: auto;
  border-color: rgb(2, 36, 58);
  color: rgb(2, 36, 58);
}

#propertyBest>button:hover,
#exclusivePropertiesContainer>button:hover,
#latestAcquisitionsContainer>button:hover {
  background: rgb(2, 36, 58);
  color: #fff;
}

#propertyBest>hr,
#exclusivePropertiesContainer>hr,
#latestAcquisitionsContainer>hr {
  margin-top: 1.2em;
  border: none;
  border-top: 1px solid #ddd;
}

#propertyInfo {
  padding: 3em;
  text-align: center;
  background: #f4f4f5;
  color: rgb(1, 23, 37);
}

#videoGallery {
  padding: 3.5em 0;
}

#videoGallery>h3 {
  text-align: center;
  color: rgb(1, 23, 37);
}

#videoGalleryList button {
  height: 3.5em;
  margin: 0;
  font-size: 55%;
  border-color: #aaa;
  color: #aaa;
  width: 48%;
}

#videoGalleryList button:hover,
#videoGalleryList button.filled,
#propertyContact button {
  background: rgb(2, 36, 58);
  color: #fff;
  border-color: rgb(2, 36, 58);
}

#videoGalleryList button.filled:hover,
#propertyContact button:hover {
  color: rgb(2, 36, 58);
  background: #fff;
}

#videoGalleryList table img {
  width: 7em;
}

.videoGalleryListBtns,
#videoGalleryContent,
#propertyGroupsList,
.propertyBestProperties,
#productInfo1Content {
  display: flex;
  flex-flow: row wrap;
}

.videoGalleryListBtns,
#videoGalleryContent,
#propertyGroupsList,
.propertyBestProperties {
  justify-content: space-around;
}

#videoGalleryExclusive,
#videoGalleryFullVideo,
#videoGalleryList {
  margin-top: 2em;
}

#videoGalleryExclusive>h3 {
  margin-top: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

#videoGalleryExclusive button {
  border-color: #fff;
  background: rgb(2, 36, 58);
  color: #fff;
  height: 3.5em;
}

#videoGalleryExclusive button:hover,
#propertyContact button:hover {
  background: #fff;
  color: rgb(2, 36, 58);
}

#videoGalleryExclusive button.filled:hover {
  background: rgb(2, 36, 58);
  color: #fff;
}

#videoGalleryExclusive button.filled {
  background: #fff;
  color: rgb(2, 36, 58);
  margin-bottom: 1em;
}

#videoGalleryExclusive {
  padding: 1.5em;
  background: rgb(2, 36, 58);
  color: #fff;
  height: 100%;
}

#videoGalleryFullVideo {
  position: relative;
}

#videoGalleryList p {
  margin: .3em 0 .3em 0;
}

#videoGalleryList td {
  padding-left: .5em;
}

#videoGalleryFullVideo button {
  width: auto;
  background: rgb(2, 36, 58);
  height: auto;
  color: #fff;
  padding: .6em 1.5em;
  display: inline;
}

#videoGalleryFullVideo button.share {
  padding: .6em .6em;
}

#videoGalleryFullVideoBtns {
  position: absolute;
  top: 1em;
  right: 1em;
}

#videoGalleryListContainer {
  height: auto;
  overflow: auto;
}

#videoGalleryList>button {
  width: 100%;
  margin-top: 1em;
}

#propertyContact {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background: #f4f4f5;
  text-align: center;
  padding: 2em 0;
  color: rgb(2, 36, 58);
}

#propertyContact p {
  margin: 0;
}

#contactElementContainer {
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 100%;
  padding: 2em 0 1em 0;
  overflow: hidden;
}

.contactElement>select {
  border: 1px solid #CCC;
}

.contactElement {
  margin-top: .5em;
}

.contactElement>input::-webkit-input-placeholder,
.contactElement>input:-ms-input-placeholder,
.contactElement>input::-moz-placeholder,
.contactElement>input::placeholder,
.contactElement>select {
  color: rgb(1, 12, 20);
  font-weight: 700;
}

.contactElement>input,
.contactElement>select,
.contactElement>textarea {
  padding: .9em;
  border-color: #ccc;
  background-color: #fff;
}

.contactElement>textarea {
  height: 7.7em;
}

#propertyContact button {
  width: auto;
  padding: .8em 2.5em;
  height: auto;
  margin-top: 2.5em;
}

#propertyGroups {
  text-align: center;
  color: rgb(2, 36, 58);
}

#propertyGroupsBtns>button {
  width: 15em;
  display: inline;
  margin: auto;
  padding: .5em 0;
  border-color: rgb(2, 36, 58);
  color: rgb(2, 36, 58);
  margin-bottom: .5em;
}

#propertyGroupsBtns>button.active {
  background: rgb(2, 36, 58);
  color: #fff;
}

#propertyGroupsBtns>button:not(.active):hover {
  color: #fff;
  background: rgb(2, 36, 58);
}

#propertyGroupsList {
  margin: 1em 0;
}

#propertyGroupsList>.propertyGroupsItem {
  width: 100%;
  position: relative;
  height: 25em;
  overflow: hidden;
  margin-top: .5em;
}

.propertyGroupsItem>img {
  width: 100%;
}

.propertyGroupsItemContent {
  padding: 0 2em;
  position: absolute;
  left: 0;
  color: #fff;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  pointer-events: none;
}

.propertyGroupsItemContent>h2,
.propertyGroupsItemContent>h4 {
  margin: 0;
}

.propertyGroupsItemContent>hr {
  width: 100%;
  margin: 0;
}

.propertyGroupsItemContent>button {
  width: 9.5em;
  padding: .5em 0;
  background: #fff;
  border-color: #fff;
  font-size: 70%;
  margin-top: 1.2em;
  color: rgb(2, 36, 58);
}

.propertyGroupsItemOverlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(2, 36, 58);
  opacity: .2;
  transition-duration: 500ms;
}

.propertyGroupsItemOverlay:hover {
  opacity: .8;
}

.propertyGroupsItemContent h2 {
  font-size: 2.2em;
  font-style: italic;
}

#productInfo1Content {
  padding: .4em 0;
  background: #f4f4f5;
  margin-top: 3.5em;
  color: rgb(2, 36, 58);
}

#productInfo1Content>div {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: .5em;
}

#productInfo1Text {
  padding: .3em 2.5em;
  text-align: center;
}

#productInfo1Text>button {
  width: 12em;
  padding: .6em 0;
  color: #fff;
  border-color: rgb(2, 36, 58);
  background: rgb(2, 36, 58);
  font-size: 70%;
}

#productInfo1 img {
  width: 100%;
}

#productInfo1BlogBand {
  background: rgb(2, 36, 58);
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

#productInfo1BlogBand>button {
  width: 13em;
  display: inline;
  margin: auto;
  margin-left: 2em;
  border-color: #fff;
  color: #fff;
  padding: .6em 0;
  font-size: 70%;
}

#closingInfo {
  padding: 1.5em 2.5em;
  background: #f4f4f5;
  color: rgb(2, 36, 58);
  text-align: center;
}

@media (min-width:961px) {
  #propertySearchHeading {
    display: inline;
    margin-left: 2em;
    padding-bottom: .8em;
  }

  #propertyBest article,
  #exclusivePropertiesContainer article,
  #latestAcquisitionsContainer article {
    width: 49.5%;
  }

  #videoGalleryFullVideo {
    margin: 0 1em;
  }

  #videoGalleryExclusive,
  #videoGalleryFullVideo,
  #videoGalleryList {
    margin-top: 0;
  }

  #videoGalleryListContainer {
    height: 363.1px;
  }

  #videoGalleryExclusive,
  #videoGalleryList {
    flex: 1;
  }

  #videoGalleryFullVideo {
    flex: 2;
  }

  #contactElementContainer {
    height: 7em;
  }

  #propertyGroupsBtns>button {
    margin-right: 1.5em;
  }

  #propertyGroupsBtns>button:last-child {
    margin-right: 0;
  }

  #propertyGroupsList>.propertyGroupsItem {
    width: 16%;
  }

  .propertyGroupsItem>img {
    height: 100%;
  }

  .propertyGroupsItemContent h2 {
    font-size: 1.5em;
  }

  #productInfo1Content>div {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #propertyBest article {
    width: 33%;
  }

  #exclusivePropertiesContainer article,
  #latestAcquisitionsContainer article {
    width: 24.5%;
  }
}
