#propertySearchContainer {
  position: relative;
  top: -2.5em;
  z-index: 111;
}

#propertySearchHeading {
  padding: .8em 1.2em 0 1.2em;
  background: #064A77;
  color: #fff;
  display: block;
  margin-left: 0;
}

#propertySearchHeading img {
  height: 1.5em;
  vertical-align: middle;
}

#propertyBest,
#latestAcquisitionsContainer {
  padding: 1.3em 0 .6em 0;
}

#latestAcquisitionsContainer {
  padding-bottom: 3em;
}

#propertyBest {
  margin-top: -2.5em;
}

#propertyBest h3,
#latestAcquisitionsContainer h3 {
  text-align: center;
}

.propertyBestProperties article {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
}

.propertyBestProperties .propertyStar {
  position: absolute;
  top: 1.3em;
  right: 1.3em;
  cursor: pointer;
  height: 25px;
}

#propertyBest h3,
#latestAcquisitionsContainer h3 {
  margin: 0 0 1.4em 0;
  margin-bottom: .9em;
}

.propertyBestProperties .propertyImage {
  width: 100%;
}

.propertyDataContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* min-height: 5.5em; */
}

/* .propertyData {
  position: relative;
} */

.propertyDataContent {
  position: relative;
  z-index: 1;
  top: 0;
  padding: .8em;
}

.propertyDataOverlay {
  background: #064A77;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.propertyDataStatus {
  font-weight: 700;
}

.propertyDataStatus,
.propertyDataLocation,
.propertyDataTitle,
.propertyDataCode {
  margin: .1em 0;
  color: #fff;
  line-height: 1.1em;
}

.propertyDataStatus,
.propertyDataLocation,
.propertyDataCode {
  text-transform: uppercase;
}

.propertyDataLocation {
  float: left;
}

.propertyDataCode {
  text-align: right;
}

.propertyDataTitle {
  text-transform: capitalize;
}

.propertyDataLocation,
.propertyDataCode {
  font-weight: 700;
}

#propertyBest button,
#latestAcquisitionsContainer button,
#btnBelowVideoGalleryFullVideo button {
  width: auto;
  padding: .6em 5em;
  height: auto;
}

#propertyBest button,
#latestAcquisitionsContainer button,
#propertyBest button.filled:hover,
#latestAcquisitionsContainer button.filled:hover,
#btnBelowVideoGalleryFullVideo button:hover {
  background: #fff;
  color: #064A77;
  border-color: #064A77; 
}

#propertyBest button.filled,
#latestAcquisitionsContainer button.filled,
#propertyBest button:hover,
#latestAcquisitionsContainer button:hover,
#btnBelowVideoGalleryFullVideo button {
  background: #064A77;
  color: #fff;
  border-color: #064A77;
}

#propertyBest>hr,
#latestAcquisitionsContainer>hr {
  margin-top: 1.2em;
  border: none;
  border-top: 1px solid #ddd;
}

#propertyInfo {
  text-align: center;
  background: #f4f4f5;
}

/* #videoGallery {
} */

#videoGallery h3 {
  text-align: center;
  margin-top: 0;
  color: #fff;
}

#videoGalleryListContainer .videoGalleryListBtns button,
#videoGalleryList button {
  height: 3.5em;
  margin: 0;
  font-size: 55%;
  border-color: #aaa;
  color: #aaa;
  width: 46%;
}

#btnBelowVideoGalleryFullVideo{
  margin: 1em 0;
}

#videoGalleryList button {
  width: 100%;
}

#videoGalleryListContainer .videoGalleryListBtns button:hover,
#videoGalleryList button:hover,
#videoGalleryListContainer .videoGalleryListBtns button.filled,
#videoGalleryList button.filled {
  background: #064A77;
  color: #fff;
  border-color: #064A77;
}

#videoGalleryList button.filled:hover,
#videoGalleryListContainer .videoGalleryListBtns button.filled:hover {
  color: #064A77; 
  background: #fff;
}

#videoGalleryList button {
  margin-top: 1em;
}

#videoGalleryList table th div {
  height: 7em;
  width: 7em;
  overflow: hidden;
}

#videoGalleryList table th img {
  width: 100%;
}

.videoGalleryListBtns,
#videoGalleryContent,
#propertyGroupsList,
.propertyBestProperties,
#productInfo1Content {
  display: flex;
  flex-flow: row wrap;
}

.videoGalleryListBtns,
#videoGalleryContent,
#propertyGroupsList,
.propertyBestProperties {
  justify-content: space-around;
}

#propertyBest article,
  #latestAcquisitionsContainer article {
    /* height: 20em; */
    background: #064A77;
  }

#videoGalleryExclusive,
#videoGalleryFullVideo,
#videoGalleryList {
  margin-top: 2em;
}

#videoGalleryList {
  border-right: 4px solid #fff;
}

#videoGalleryContent {
  border-left: 4px solid #fff;
}

/* #videoGalleryExclusive h3 {} */

hr {
  border: none;
  border-top: 1px solid #ccc;
}

#videoGalleryExclusive button {
  border-color: #fff;
  background: #064A77;
  color: #fff;
  height: 3.5em;
}

#videoGalleryExclusive button:hover {
  background: #fff;
  color: #064A77;
}

#videoGalleryExclusive button.filled:hover {
  background: #064A77;
  color: #fff;
}

#videoGalleryExclusive button.filled {
  background: #fff;
  color: #064A77;
  margin-bottom: 1em;
}

#videoGalleryExclusive {
  padding: 1.5em;
  background: #064A77;
  color: #fff;
  height: 100%;
}

#videoGalleryExclusive h3, #videoGalleryExclusive p{
  color: #fff;
}

#videoGalleryFullVideo {
  position: relative;
}

#videoGalleryList p {
  margin: 0 0 .3em 0;
}

#videoGalleryList td {
  padding-left: .5em;
}

#videoGalleryFullVideo button {
  width: auto;
  background: #064A77;
  border-color: #064A77;
  height: auto;
  color: #fff;
  padding: .6em 1.5em;
  display: inline;
  margin: 0 .2em;
}

#videoGalleryFullVideo button.share {
  padding: .6em .6em;
}

#videoGalleryFullVideoBtns {
  position: absolute;
  top: 1em;
  right: 1em;
}

#videoGalleryListContainer {
  height: auto;
  overflow: auto;
}

#propertyGroups {
  text-align: center;
  /*color: #064A77;*/
}

#propertyGroupsBtns button {
  width: 15em;
  display: inline;
  margin: auto;
  padding: .5em 0;
  border-color: #064A77;
  /*color: #064A77;*/
  margin-bottom: .5em;
}

#propertyGroupsBtns button.active {
  background: #064A77;
  color: #fff;
}

#videoGalleryExclusive,
#videoGalleryList {
  display: none
}

#propertyGroupsBtns button:not(.active):hover {
  color: #fff;
  background: #064A77;
}

#propertyGroupsList {
  margin: 1em 0;
}

#propertyGroupsList>.propertyGroupsItem {
  width: 100%;
  position: relative;
  height: 24em;
  overflow: hidden;
  margin-top: .5em;
}

.propertyGroupsItem>img {
  width: 100%;
}

.propertyGroupsItemContent {
  padding: 0 2em;
  position: absolute;
  left: 0;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  pointer-events: none;
}

.propertyGroupsItemContent>h2,
.propertyGroupsItemContent>h4 {
  margin: 0;
  color: #fff;
}

.propertyGroupsItemContent>hr {
  width: 100%;
  margin: .5em 0;
}

.propertyGroupsItemContent button {
  width: 9.5em;
  padding: .5em 0;
  background: #fff;
  border-color: #fff;
  font-size: 70%;
  margin-top: 1.2em;
  /*color: #064A77;*/
}

.propertyGroupsItemOverlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #064A77;
  opacity: .2;
  transition-duration: 500ms;
}

.propertyGroupsItemOverlay:hover {
  opacity: .8;
}

.propertyGroupsItemContent h2 {
  font-size: 2.2em;
  font-style: italic;
}

#productInfo1 {
  background: #f4f4f5;
}

#productInfo1Content {
  padding: .4em 0;
}

#productInfo1Content>div {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-top: .5em; */
}

#productInfo1Text {
  padding: 1em 2.5em;
  text-align: center;
}

#productInfo1Text>h1 {
  margin-top: 0;
}

#productInfo1Text button {
  width: 12em;
  padding: .6em 0;
  color: #fff;
  border-color: #064A77;
  background: #064A77;
  font-size: 70%;
}

#productInfo1 img {
  width: 100%;
}

#productInfo1BlogBand {
  background: #064A77;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

#productInfo1BlogBand button {
  width: 13em;
  display: inline;
  margin: auto;
  margin-left: 2em;
  border-color: #fff;
  color: #fff;
  padding: .6em 0;
  font-size: 70%;
}

#closingInfo {
  padding: 1.5em 2.5em;
  background: #f4f4f5;
  text-align: center;
}

#propertyInfo .flexRowWrap>aside,
#propertyInfo .flexRowWrap>article {
  width: 100%;
  box-sizing: border-box;
}

#propertyInfo .flexRowWrap>aside {
  background: #fff;
}

#propertyInfo .flexRowWrap>article {
  padding: 2em;
}

#propertyInfo .flexRowWrap>article h1 {
  margin-top: 0;
}

#propertySearchBottom button {
  width: 3em;
  float: right;
  padding: .2em .5em .1em .2em;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  height: 2.3em;
}

#propertySearchBottom>h4 {
  margin: 0;
}

#propertySearchBottomInputContainer {
  overflow: hidden;
}

#propertySearchBottomInputContainer>input {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 0;
  height: 2.4em;
}

#propertySearchBottom>h4 {
  margin-top: 1.3em;
}

#propertySearchBottomInputContainer {
  margin-top: 1em;
}

#propertySearchBottom button {
  margin-top: 1.15em;
}

#propertySearch {
  padding-top: .7em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  background: #064A77;
}

#propertySearchBottom button {
  margin-left: .6em;
}

@media (min-width:961px) {
  #propertySearchHeading {
    display: inline;
    margin-left: 2em;
    padding-bottom: .8em;
  }

  #propertyBest article,
  #latestAcquisitionsContainer article {
    width: 49.5%;
    height: 20em;
  }

  #btnBelowVideoGalleryFullVideo{
    display: none;
  }

  #videoGalleryFullVideo {
    margin: 0 1em;
  }

  #videoGalleryExclusive,
  #videoGalleryFullVideo,
  #videoGalleryList {
    margin-top: 0;
  }

  #videoGalleryListContainer {
    height: 400px;
  }

  #videoGalleryListContainer table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
  }

  #videoGalleryListContainer th {
    vertical-align: top;
  }

  #videoGalleryExclusive,  #videoGalleryList {
    flex: 1;
    display: block
  }

  #videoGalleryList{
flex:1.2;
  }

  #videoGalleryFullVideo {
    flex: 2;
  }

  #videoGallery>.container{
    width:97%; 
  }

  #propertyGroupsBtns button {
    margin-right: 1.5em;
  }

  #propertyGroupsBtns button:last-child {
    margin-right: 0;
  }

  #propertyGroupsList>.propertyGroupsItem {
    width: 16%;
  }

  .propertyGroupsItem>img {
    height: 100%;
    width: auto;
  }

  .propertyGroupsItemContent h2 {
    font-size: 1.5em;
  }

  #productInfo1Content>div {
    width: 50%;
  }

  #propertyInfo .flexRowWrap>article {
    width: 65%;
    padding: 0;
  }

  #propertyInfo .flexRowWrap>aside {
    width: 30%;
  }

  .propertyBestProperties {
    padding: 0 .2em;
  }

  #closingInfo {
    padding-left: 6em;
    padding-right: 6em;
  }

  #propertySearchBottom>h4 {
    margin-right: 3em;
    float: left;
  }

  #propertySearchBottom {
    width: 40%;
    margin: 0 auto;
    display: table;
  }

  #propertySearch {
    padding-top: 1.7em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1200px) {
  #propertyBest article {
    width: 33%;
  }

  #latestAcquisitionsContainer article {
    width: 24.5%;
  }
}

@media (min-width: 1900px) {

  #propertyBest article,
  #latestAcquisitionsContainer article {
    height: 28em;
  }

  #propertyGroupsList>.propertyGroupsItem {
    height: 26em;
  }

  .propertyGroupsItem>img {
    height: auto;
    width: 100%;
  }
}
