#propertySearchContainer {
  position: relative;
  top: -2.5em;
  z-index: 111;
}

#propertySearchContainer>.container {
  margin: auto;
  display: block;
}

#propertySearchHeading {
  padding: .8em 1.2em 0 1.2em;
  background: #064A77;
  color: #fff;
  display: block;
  margin-left: 0;
}

#propertySearchHeading img {
  height: 1.5em;
  vertical-align: middle;
  display: none;
}

#btnBelowVideoGalleryFullVideo button {
  width: auto;
  padding: .6em 5em;
  height: auto;
}

#btnBelowVideoGalleryFullVideo button:hover {
  background: #fff;
  color: #064A77;
  border-color: #064A77;
}

#btnBelowVideoGalleryFullVideo button {
  background: #064A77;
  color: #fff;
  border-color: #064A77;
}

#propertyInfo {
  text-align: center;
  background: #f4f4f5;
}

/* #videoGallery {
} */

#videoGallery h3 {
  text-align: center;
  margin-top: 0;
  color: #fff;
}

#btnBelowVideoGalleryFullVideo {
  margin: 1em 0;
}

#videoGalleryContent,
#productInfo1Content {
  display: flex;
  flex-flow: row wrap;
}

#videoGalleryContent {
  justify-content: space-around;
}

#videoGalleryExclusive,
#videoGalleryFullVideo,
#videoGalleryList {
  margin-top: 2em;
}

#videoGalleryList {
  border-right: 4px solid #fff;
}

#videoGalleryContent {
  border-left: 4px solid #fff;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

#videoGalleryExclusive button {
  border-color: #fff;
  background: #064A77;
  color: #fff;
  height: 3.5em;
}

#videoGalleryExclusive button:hover {
  background: #fff;
  color: #064A77;
}

#videoGalleryExclusive button.filled:hover {
  background: #064A77;
  color: #fff;
}

#videoGalleryExclusive button.filled {
  background: #fff;
  color: #064A77;
  margin-bottom: 1em;
}

#videoGalleryExclusive {
  padding: 1.5em;
  background: #064A77;
  color: #fff;
  height: 100%;
}

#videoGalleryExclusive h3,
#videoGalleryExclusive p {
  color: #fff;
}

#videoGalleryFullVideo {
  position: relative;
}

#videoGalleryFullVideo button {
  width: auto;
  background: #064A77;
  border-color: #064A77;
  height: auto;
  color: #fff;
  padding: .6em 1.5em;
  display: inline;
  margin: 0 .2em;
}

#videoGalleryFullVideo button.share {
  padding: .6em .6em;
}

#videoGalleryFullVideoBtns {
  position: absolute;
  top: 1em;
  right: 1em;
}

#videoGalleryExclusive,
#videoGalleryList {
  display: none
}

#productInfo1 {
  background: #f4f4f5;
}

#productInfo1Content {
  padding: .4em 0;
}

#productInfo1Content>div {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-top: .5em; */
}

#productInfo1Text {
  padding: 1em 2.5em;
  text-align: center;
}

#productInfo1Text>h1 {
  margin-top: 0;
}

#productInfo1Text button {
  width: 12em;
  padding: .6em 0;
  color: #fff;
  border-color: #064A77;
  background: #064A77;
  font-size: 70%;
}

#productInfo1 img {
  width: 100%;
}

#productInfo1BlogBand {
  background: #064A77;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

#productInfo1BlogBand button {
  width: 13em;
  display: inline;
  margin: auto;
  margin-left: 2em;
  border-color: #fff;
  color: #fff;
  padding: .6em 0;
  font-size: 70%;
}

#closingInfo {
  padding: 1.5em 2.5em;
  background: #f4f4f5;
  text-align: center;
}

#propertyInfo .flexRowWrap>aside,
#propertyInfo .flexRowWrap>article {
  width: 100%;
  box-sizing: border-box;
}

#propertyInfo .flexRowWrap>aside {
  background: #fff;
}

#propertyInfo .flexRowWrap>article {
  padding: 2em;
}

#propertyInfo .flexRowWrap>article h1 {
  margin-top: 0;
}

#propertySearchBottom button {
  width: 3em;
  float: right;
  padding: .2em .5em .1em .2em;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  height: 2.3em;
}

#propertySearchBottom>h4 {
  margin: 0;
}

#propertySearchBottomInputContainer {
  overflow: hidden;
}

#propertySearchBottomInputContainer>input {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 0;
  height: 2.4em;
}

#propertySearchBottom>h4 {
  margin-top: 1.3em;
}

#propertySearchBottomInputContainer {
  margin-top: 1em;
}

#propertySearchBottom button {
  margin-top: 1.15em;
}

#propertySearch {
  padding-top: .7em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  background: #064A77;
}

#propertySearchBottom button {
  margin-left: .6em;
}

@media only screen and (min-width:961px) {
  #propertySearchContainer>.container {
    margin: 0 auto;
    display: table;
  }

  #propertySearchHeading {
    display: inline;
    margin-left: 2em;
    padding-bottom: .8em;
  }

  #propertySearchHeading img {
    display: inline;
  }

  #btnBelowVideoGalleryFullVideo {
    display: none;
  }

  #videoGalleryFullVideo {
    margin: 0 1em;
  }

  #videoGalleryExclusive,
  #videoGalleryFullVideo,
  #videoGalleryList {
    margin-top: 0;
  }

  #videoGalleryExclusive,
  #videoGalleryList {
    flex: 1;
    display: block
  }

  #videoGalleryList {
    flex: 1.2;
  }

  #videoGalleryFullVideo {
    flex: 2;
  }

  #videoGallery>.container {
    width: 97%;
  }

  #productInfo1Content>div {
    width: 50%;
  }

  #propertyInfo .flexRowWrap>article {
    width: 65%;
    padding: 0;
  }

  #propertyInfo .flexRowWrap>aside {
    width: 30%;
  }

  #closingInfo {
    padding-left: 6em;
    padding-right: 6em;
  }

  #propertySearchBottom>h4 {
    margin-right: 3em;
    float: left;
  }

  #propertySearchBottom {
    width: 40%;
    margin: 0 auto;
    display: table;
  }

  #propertySearch {
    padding-top: 1.7em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}
