<app-carousel></app-carousel>
<div id="propertySearchContainer">
  <div class="container">
    <span id="propertySearchHeading">
      <span>SEARCH</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{propertiesCount}} PROPERTIES</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#propertySearchContainer"><img src="../assets/chevron-down-white.png" alt="Chevron down" /></a>
    </span>
  </div>
  <div id="propertySearch">
    <div class="container">
      <app-properties-search (search)="onPropertySearch($event)"></app-properties-search>
      <form [formGroup]="propertyCodeForm">
        <div class="formGroup">
          <div id="propertySearchBottom">
            <h4>SEARCH BY CODE</h4>
            <button (click)="searchPropertyCode()">
              <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 30" width="20px" height="20px">
                <path
                  d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" />
              </svg>
            </button>
            <div id="propertySearchBottomInputContainer">
              <input type="text" placeholder="PROPERTY CODE" formControlName="code" />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div style="margin-top: -2.5em;">
  <app-top-selections></app-top-selections>
</div>
<app-exclusive-properties></app-exclusive-properties>
<section id="propertyInfo">
  <div class="container">
    <div class="flexRowWrap">
      <aside>
        <app-info-aside></app-info-aside>
      </aside>
      <article class="verticalAlign">
        <div>
          <h1><strong>Largest Selection of Luxury Homes for Sale in Nigeria</strong></h1>
          <p>We offer the largest collection of luxury and exclusive properties for sale in Nigeria, and several cities
            around the world. We pre-vet every property listed for fraud, pricing, market conditions and government
            regulations. We hand pick our properties and select the best listings to offer you the most desirable
            locations in Lagos, Abuja, Port Harcourt, Dubai, London, Florida and several other cities.</p>
          <p>We’ve built a team of professionals with exceptional knowledge of the market and a commitment to service.
            Everyone shares expertise and information in order to meet your goals. Every property is backed by iron-clad
            agreements written to protect our clients and their investments. Our legal team conducts thorough
            verification on our properties and only approves a listing once it passes our rigorous verification
            protocols.</p>
        </div>
      </article>
    </div>
  </div>
</section>
<section>
  <h3 style="text-align: center;margin:1.2em 0 0 0;"><strong>VIDEO GALLERY</strong></h3>
</section>
<section id="videoGallery">
  <div class="container">
    <div style="background: #fff; ">
      <div id="videoGalleryContent" *ngIf="mainGalleryProperty">
        <div id="videoGalleryExclusive">
          <h3>{{mainGalleryProperty.main_title | titlecase}}</h3>
          <hr />
          <p><strong>{{mainGalleryProperty.city | uppercase}}</strong></p>
          <p><small>{{mainGalleryProperty.description_text}}</small></p>
          <p><strong>CODE. {{mainGalleryProperty.code}} | INT. {{mainGalleryProperty.interior_surface | number}}
              MQ</strong></p>
          <a href="#" routerLink="/login"
            *ngIf="mainGalleryProperty.is_exclusive && !(mainGalleryProperty.price || (mainGalleryProperty.price_lower_range && mainGalleryProperty.price_upper_range))">
            <h3><u>SIGN IN FOR PRICE</u></h3>
          </a>
          <h3 *ngIf="mainGalleryProperty.price">
            {{getCurrencySymbol('NGN')}}{{mainGalleryProperty.price | numberMillions:'1.0-1'}}</h3>
          <h3 *ngIf="mainGalleryProperty.price_lower_range && mainGalleryProperty.price_upper_range">
            {{getCurrencySymbol('NGN')}}{{mainGalleryProperty.price_lower_range | numberMillions:'1.0-1'}} TO
            {{getCurrencySymbol('NGN')}}{{mainGalleryProperty.price_upper_range | numberMillions:'1.0-1'}}</h3>
          <a href="#" [routerLink]="['properties/' + mainGalleryProperty.code]"><button class="filled">SHOW</button></a>
          <a href="#" [routerLink]="['property_contact/' + mainGalleryProperty.code]"><button>ASK FOR
              INFORMATION</button></a>
        </div>
        <div id="videoGalleryFullVideo">
          <video width="100%" height="100%" [poster]="mainGalleryProperty.photo" controls>
            <source [src]="mainGalleryProperty.video" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div id="videoGalleryFullVideoBtns">
            <a [href]="mainGalleryProperty.video" target="_blank"><button>GET FULL VIDEO</button></a>
            <button class="share"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"
                height="1em">
                <path
                  d="M 20 0 C 17.789063 0 16 1.789063 16 4 C 16 4.277344 16.039063 4.550781 16.09375 4.8125 L 7 9.375 C 6.265625 8.535156 5.203125 8 4 8 C 1.789063 8 0 9.789063 0 12 C 0 14.210938 1.789063 16 4 16 C 5.203125 16 6.265625 15.464844 7 14.625 L 16.09375 19.1875 C 16.039063 19.449219 16 19.722656 16 20 C 16 22.210938 17.789063 24 20 24 C 22.210938 24 24 22.210938 24 20 C 24 17.789063 22.210938 16 20 16 C 18.796875 16 17.734375 16.535156 17 17.375 L 7.90625 12.8125 C 7.960938 12.550781 8 12.277344 8 12 C 8 11.722656 7.960938 11.449219 7.90625 11.1875 L 17 6.625 C 17.734375 7.464844 18.796875 8 20 8 C 22.210938 8 24 6.210938 24 4 C 24 1.789063 22.210938 0 20 0 Z" />
              </svg></button>
          </div>
        </div>
        <div id="btnBelowVideoGalleryFullVideo">
          <a href="#" routerLink="/properties"><button>SEE ALL</button></a>
        </div>
        <div id="videoGalleryList">
          <app-home-gallery></app-home-gallery>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact-section></app-contact-section>
<app-property-groups></app-property-groups>
<section id="productInfo1">
  <div class="container">
    <div id="productInfo1Content">
      <div class="verticalAlign">
        <img [src]="blogPhoto" alt="Blog Photo" />
      </div>
      <div id="productInfo1Text" class="verticalAlign" *ngIf="blogArticle">
        <h1>{{blogArticle.title}}</h1>
        <!-- <h4>LUXURY HOMES IN ROME SITUATED BETWEEN HISTORIC PIAZZAS AND MONUMENTS</h4> -->
        <p>{{blogArticle.content.slice(4, -5).substring(0, 700) + '...'}}</p>
        <a [href]="blogArticle.link" target="_blank" style="margin-top: 1.5em;"><button>READ MORE</button></a>
      </div>
    </div>
  </div>
  <div id="productInfo1BlogBand">
    <strong>Sage Capita BLOG</strong><a href="//blog.sagecapita.com" target="_blank"><button>SEE ALL
        ARTICLES</button></a>
  </div>
</section>
<app-latest-acquisitions></app-latest-acquisitions>
<section id="closingInfo">
  <div class="container">
    <h1><strong>Exceptional Luxury Real Estate Firm</strong></h1>
    <p>Sage Capita is a luxury real estate brokerage firm, serving Nigeria and other important cities of the world.
      Specializing in outstanding high-end investment portfolio that includes true dream homes, luxury villas, castles
      for
      sale and luxury estates that can satisfy all needs. We offer a constantly updated selection of splendid villas for
      sale with the purpose to offer our clients a full catalogue inclusive of prestigious estates and dream homes,
      located in the most extraordinary areas of Nigeria and several important cities of the world.</p>
    <p>With several years of experience, our consultants are able to offer professional guidance in the choice of your
      ideal property, with the support of our expertise and knowledge combined with total confidentiality and reserve,
      we
      help investors, buyers and sellers locate the finest properties and negotiate the best deals. Our team is small
      enough to provide each of our clients with personal attention in order to meet their needs; large enough to
      deplore
      advanced and highly sophisticated software platform to provide an unparallel brand exposure.</p>
  </div>
</section>