<a href="#" [routerLink]="['/properties/' + property.code]">
    <div class="propertiesSectionItemImgContainer">
      <img [src]="property.photo" alt="property photo" />
    </div>
    <div class="propertiesSectionItemLocationContainer">
      <p><strong>{{property?.suburb | titlecase}} - {{property.city | titlecase}} - {{property.state | titlecase}}</strong></p>
    </div>
    <div class="propertiesSectionItemTitleContainer">
      <p>{{property.main_title}}</p>
    </div>
    <div class="propertiesSectionItemCodeInfoContainer">
      <p class="code"><strong>CODE: {{property.code}}</strong></p>
      <p class="serif" *ngIf="property.is_exclusive && !(property.price || (property.price_lower_range && property.price_upper_range))">ON APPLICATION</p>
      <p class="serif" *ngIf="property.price">{{getCurrencySymbol('NGN')}}{{property.price  | numberMillions:'1.0-1'}}</p>
      <p class="serif" *ngIf="property.price_lower_range && property.price_upper_range">{{getCurrencySymbol('NGN')}}{{property.price_lower_range | numberMillions:'1.0-1'}} TO {{getCurrencySymbol('NGN')}}{{property.price_upper_range | numberMillions:'1.0-1'}}</p>
    </div>
    <div class="propertiesSectionItemMedtadataContainer">
      <p><small>{{property.views}} Views</small></p>
      <p><small>{{property.created_at}}</small></p>
    </div>
  </a>