<div class="propertiesSection">
    <h4>RECENLY UPLOADED</h4>
    <hr />
    <div class="flexRowWrap">
      <div class="propertiesSectionItem" *ngFor="let property of recentUploadedProperties">
        <app-gallery-property-thumbnail [property]="property"></app-gallery-property-thumbnail>
      </div>
      <!-- <div class="propertiesSectionItem"><a href="#">
          <div class="propertiesSectionItemImgContainer">
            <img src="../../assets/image_1.jpg" alt="property image" />
          </div>
          <div class="propertiesSectionItemLocationContainer">
            <p><strong>SEASIDE - LIGURIA - PORTOFINO</strong></p>
          </div>
          <div class="propertiesSectionItemTitleContainer">
            <p>Luxury villa with a view of the sea for sale in Camogli</p>
          </div>
          <div class="propertiesSectionItemCodeInfoContainer">
            <p class="code"><strong>CODE: 1233</strong></p>
            <p class="serif">ON APPLICATION</p>
          </div>
          <div class="propertiesSectionItemMedtadataContainer">
            <p><small>54880 Views</small></p>
            <p><small>10 months ago</small></p>
          </div>
        </a>
      </div>
      <div class="propertiesSectionItem"><a href="#">
          <div class="propertiesSectionItemImgContainer">
            <img src="../../assets/image_1.jpg" alt="property image" />
          </div>
          <div class="propertiesSectionItemLocationContainer">
            <p><strong>SEASIDE - LIGURIA - PORTOFINO</strong></p>
          </div>
          <div class="propertiesSectionItemTitleContainer">
            <p>Luxury villa with a view of the sea for sale in Camogli</p>
          </div>
          <div class="propertiesSectionItemCodeInfoContainer">
            <p class="code"><strong>CODE: 1233</strong></p>
            <p class="serif">$2M TO $5M</p>
          </div>
          <div class="propertiesSectionItemMedtadataContainer">
            <p><small>54880 Views</small></p>
            <p><small>10 months ago</small></p>
          </div>
        </a>
      </div>
      <div class="propertiesSectionItem"><a href="#">
          <div class="propertiesSectionItemImgContainer">
            <img src="../../assets/image_1.jpg" alt="property image" />
          </div>
          <div class="propertiesSectionItemLocationContainer">
            <p><strong>SEASIDE - LIGURIA - PORTOFINO</strong></p>
          </div>
          <div class="propertiesSectionItemTitleContainer">
            <p>Luxury villa with a view of the sea for sale in Camogli</p>
          </div>
          <div class="propertiesSectionItemCodeInfoContainer">
            <p class="code"><strong>CODE: 1233</strong></p>
            <p class="serif">$5,234,000</p>
          </div>
          <div class="propertiesSectionItemMedtadataContainer">
            <p><small>54880 Views</small></p>
            <p><small>10 months ago</small></p>
          </div>
        </a>
      </div> -->
    </div>
  </div>