<section id="exclusivePropertiesContainer">
    <h3>EXCLUSIVE PROPERTIES</h3>
    <div class="propertyBestProperties">
      <article>
        <a href="#">
          <img class="propertyImage" src="../assets/image_1.jpg" alt="best property 1" />
          <img class="propertyStar" src="../assets/star-white.png" alt="star" />
          <div class="propertyDataContainer">
            <div class="propertyDataContent">
                <p class="propertyDataTitle">brunelleschi castle for sale near florence</p>
                <p class="propertyDataStatus">On Application</p>
                <p class="propertyDataLocation"><small>Tuscany - Florence-Region</small></p>
                <p class="propertyDataCode"><small>Code. 1151</small></p>
              </div>
              <div class="propertyDataOverlay"></div> 
          </div>
        </a>
      </article>
      <article>
        <a href="#">
          <img class="propertyImage" src="../assets/image_1.jpg" alt="best property 1" />
          <img class="propertyStar" src="../assets/star-white.png" alt="star" />
          <div class="propertyDataContainer">
            <div class="propertyData">
              <div class="propertyDataContent">
                <p class="propertyDataTitle">brunelleschi castle for sale near florence</p>
                <p class="propertyDataStatus">On Application</p>
                <p class="propertyDataLocation"><small>Tuscany - Florence-Region</small></p>
                <p class="propertyDataCode"><small>Code. 1151</small></p>
              </div>
              <div class="propertyDataOverlay"></div>
            </div>
          </div>
        </a>
      </article>
      <article>
        <a href="#">
          <img class="propertyImage" src="../assets/image_1.jpg" alt="best property 1" />
          <img class="propertyStar" src="../assets/star-white.png" alt="star" />
          <div class="propertyDataContainer">
            <div class="propertyData">
              <div class="propertyDataContent">
                <p class="propertyDataTitle">Elegant apartment close to Florence's cathedral</p>
                <p class="propertyDataStatus">On Application</p>
                <p class="propertyDataLocation"><small>Tuscany - Florence-Region</small></p>
                <p class="propertyDataCode"><small>Code. 1151</small></p>
              </div>
              <div class="propertyDataOverlay"></div>
            </div>
          </div>
        </a>
      </article>
      <article>
        <a href="#">
          <img class="propertyImage" src="../assets/image_1.jpg" alt="best property 1" />
          <img class="propertyStar" src="../assets/star-white.png" alt="star" />
          <div class="propertyDataContainer">
            <div class="propertyData">
              <div class="propertyDataContent">
                <p class="propertyDataTitle">brunelleschi castle for sale near florence</p>
                <p class="propertyDataStatus">On Application</p>
                <p class="propertyDataLocation"><small>Tuscany - Florence-Region</small></p>
                <p class="propertyDataCode"><small>Code. 1151</small></p>
              </div>
              <div class="propertyDataOverlay"></div>
            </div>
          </div>
        </a>
      </article>
    </div>
    <a href="#" [routerLink]="['/properties']"><button class="filled">SEE ALL (23)</button></a>
  </section>